
@{
    ViewBag.Title = "Ruta";
}

<style>
    .borderInput {
        margin: 10px;
    }

    .divFlot {
        text-align: right
    }
</style>

<div class="page-title">
    <div class="content-title">
        <h3>Mi Bitácora</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Registrar horario</a></li>
            </ol>
        </nav>
    </div>
</div>


<div class="card">
    <div class="panel">
        <div class="form-group">
            <div class="form-row">
                <div class="form-group">
                    <h4>Registro de jornada</h4>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row form-group col-12">
                    <span>Terminal de inicio</span>
                    <label style="display:none" id="idTurnoActual"></label>
                    <div class="col-md-3">
                        <select class="form-control ddlTer Ini" id="cmbTerminalInicio"></select>
                    </div>
                    <div class="col-md-1"></div>
                    <span>Hora inicio</span>
                    <div class="col-md-1">
                        <input class="form-control Ini" placeholder="HH:MM" maxlength="5" id="txtHoraInicio" />
                    </div>
                    <span>Sentido Inicio</span>
                    <div class="col-md-3">
                        <select class="form-control" id="cmbSentidoInicio"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="borderInput">
            <button id="btnSalir" onclick="Limpiar();" class="btn btn-outline-light">Salir</button>
        </div>
        <div class="borderInput">
            <button id="btnRegistrarInicio" class="btn btn-success borderInput" onclick="RegistrarInicioHorario();">Guardar</button>
            <button id="btnRegistrarFin" class="btn btn-success borderInput" onclick="RegistrarFinHorario();">Guardar</button>
        </div>

    </div>
</div>
<br />
<div class="jombotron">
    <div class="card">
        <div class="flex-fill">
            <div class="panel">
                <div class="form-row">
                    <h4>Registro de Ruta</h4>
                </div>
                <div class="form-row">
                    <div class="form-row form-group col-12">
                        <div class="col-4">
                            <span>Terminal de Inicio</span>
                            <select class="form-control ddlTer" id="cmbTerminalInicioVuelta"></select>
                        </div>
                        <div class="col-4">
                            <span>Hora de presentación</span>
                            <input class="form-control" placeholder="HH:MM" maxlength="5" id="txtIniVuelta" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group">
                    <button id="btnSalir" onclick="Limpiar();" class="btn btn-outline-light">Cancelar</button>
                </div>
                <div class="form-group">
                    <button id="btnRegistrarIniVuelta" class="btn btn-success borderInput" onclick="RegistrarInicioInicioVuelta();">Guradar</button>
                    <button id="btnRegistrarFinVuelta" class="btn btn-success borderInput" style="display:none" onclick="RegistrarInicioFinVuelta();">Guaradar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="col-md-12 card" id="divTablaRuta">
    <table id="tblRuta" class="table table-striped table-hover">
    </table>
</div>

<div class="modal fade" id="modalCierreJornada" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow">
            <div class="modal-title">
                <div class="text-center">
                    <h3>¡Confirmar acción!</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-group form-row col-12">
                        <span>Terminal fin jornada</span>
                        <div class="col-3">
                            <select class="form-control ddlTer" id="cmbTerminalFin"></select>
                        </div>
                        <div class="col-md-1"></div>
                        <span>Hora fin</span>
                        <div class="col-1">
                            <input type="text" class="form-control" placeholder="HH:MM" maxlength="5" id="txtHoraFin" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" id="btnCancelar" onclick="CerrarModal();">Cancelar</button>
                <button type="button" class="btn btn-danger" id="btnEliminar" onclick="EliminarSentido();">Eliminar</button>
                <button type="button" class="btn btn-success" id="btnAceptarEditar" onclick="GuardarEdicionSentido();">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCierreVuelta" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow">
            <div class="modal-title">
                <div class="text-center">
                    <h3>¡Confirmar acción!</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-row form-group col-12">
                    <div class="col-12">
                        <span>Terminal de término</span>
                        <select class="form-control ddlTer" id="cmbTerminalTerminoVuelta"></select>
                    </div>                    
                </div>
                <div class="form-row form-group col-12">
                    <div class="col-4 text-center">
                        <span>Hora de término</span>
                        <input type="text" placeholder="HH:MM" maxlength="5" class="form-control" id="txtFinVuelta" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" id="btnCancelar" onclick="CerrarModal();">Cancelar</button>
                <button type="button" class="btn btn-success" id="btnAceptarEditar" onclick="GuardarEdicionSentido();">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow">
            <div class="modal-title">
                <div class="text-center">
                    <h3>¡Confirmar acción!</h3>
                </div>
            </div>
            <div class="modal-body">
                <label>¿Está seguro que desea <span id="txtMostrar"></span> el Terminal <sapan id="terEliminar" class="text-primary"></sapan>?</label>
            </div>
            <label id="idTerEliminar" style="display:none"></label>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" id="btnCancela" onclick="CerrarModal();">Cancelar</button>
                <button type="button" class="btn btn-danger" id="btnEliminar" onclick="EliminarTerminal();">Eliminar</button>
            </div>
        </div>
    </div>
</div>



@section scripts
    {
    <script>
        var tblRuta;

        $(document).ready(function () {
            CargarCmb();
            CargarTablaRuta();
            GetInicioTurno();
        });

        function CargarCmb() {
            $.ajax({
                url: '../Mantenedor/GetTerminalesActivos',
                type: 'post',
                datatype: 'json',
                async: false,
                data: null,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var optionTer = $(document.createElement('option'));
                        optionTer.val(data.data[i]["ID_TERMINAL"]);
                        optionTer.text(data.data[i]["NOMBRE_TERMINAL"]);

                        $(".ddlTer").append(optionTer);
                    }
                }
            });

            $.ajax({
                url: '../Mantenedor/GetTerminalesActivos',
                type: 'post',
                datatype: 'json',
                async: false,
                data: null,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var optionTer = $(document.createElement('option'));
                        optionTer.val(data.data[i]["ID_TERMINAL"]);
                        optionTer.text(data.data[i]["NOMBRE_TERMINAL"]);

                        $("#cmbTerminalInicio").append(optionTer);
                    }
                }
            });

            $.ajax({
                url: '../Mantenedor/GetSentidoCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                data: null,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var optionSent = $(document.createElement('option'));
                        optionSent.val(data.data[i]["ID_SENTIDO"]);
                        optionSent.text(data.data[i]["NOMBRE_SENTIDO"]);

                        $("#cmbSentidoInicio").append(optionSent);
                    }
                }
            });
        }

        function CargarTablaRuta() {
            tblRuta = $("#tblRuta").DataTable({
                dom: "<'card-header flex-column flex-lg-row align-items-start align-items-lg-center'<'d-flex flex-column flex-lg-row justify-content-start align-items-lg-center'<'titleRev mr-2'><'comboFil mb-2 mb-lg-0'>><'d-flex justify-content-md-end'fl>>" + "<'card-body p-0'tr>" + "<'card-footer'ip>",
                scrollX: true,
                processing: true,
                destroy: true,
                lengthChange: true,
                pageLength: 10,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                language: {
                    "url": "../Plugins/DataTables/js/Spanish.json"
                },
                order: [[1, "asc"]],
                initComplete: function () {
                    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
                },
                ajax: {
                    url: "../Mantenedor/GetRegistroVueltas",
                    type: "POST",
                    dataType: "json",
                    data: null
                },
                columns: [
                    { data: "ID_REGISTRO_VUELTAS", visible: false, searchable: false },
                    { data: "ID_REGISTRO_HORARIO", visible: false, searchable: false },
                    { data: "NUMERO_VUELTA", title: "Numero vuelta", name: "NUMERO_VUELTA" },
                    { data: "ID_TERMINAL_INICIO", visible: false },
                    { data: "NOMBRE_TERMINAL_INICIO", title: "TERMINAL INICIO", orderable: false },
                    {
                        data: null
                        , title: "FECHA INICIO"
                        , orderable: false,
                        render:
                            function (full) {
                                if (moment(full.FECHA_HORA_INICIO).format('DD/MM/YYYY') != '31/12/0000') {
                                    return moment(full.FECHA_HORA_INICIO).format('DD/MM/YYYY HH:MM');
                                } else {
                                    return "";
                                }

                            }
                    },
                    { data: "ID_TERMINAL_FIN", title: "TERMINAL FIN", visible: false },
                    { data: "NOMBRE_TERMINAL_FIN", title: "TERMINAL FIN", name: "ID_TERMINAL_FIN", orderable: false },
                    { data: "FECHA_HORA_FIN", title: "FECHA FIN", name: "FECHA_HORA_FIN", orderable: false },
                    {
                        title: "GESTIÓN",
                        orderable: false,
                        searchable: false,
                        render: function (data, type, full, meta) {
                            var html = '';

                            html = '<a role="button" class="btn-table-bg " onclick="ShowEliminarVuelta(' + full.ID_REGISTRO_VUELTAS + "," + "'" + full.ID_REGISTRO_HORARIO + "'" + ');"><i class="far fa-trash-alt text-danger"></i></a>' +
                                '<span>&nbsp;&nbsp;</span>' +
                                '<a role="button" class="btn-table-bg " onclick="ShowCerrarVuelta()"><i class="far fa-edit text-success"></i></a>';

                            return html;
                        }
                    },
                ]
            });
        }

        function ShowEliminarVuelta(idTerminal, nombreTerminal) {
            $("#modalConfirmacion").modal("show");
        }

        function ShowCerrarVuelta(idTerminal, idRegistro) {
            $("#modalCierreVuelta").modal("show");
        }

        function CerrarModal() {
            $("#modalConfirmacion").modal("hide");
            $("#modalCierreVuelta").modal("hide");
        }

        function RegistrarInicioHorario() {
            let terminalInicio = $("#cmbTerminalInicio").val();
            let HoraInicio = $("#txtHoraInicio").val();

            $.ajax({
                url: '../Mantenedor/SetRegistroInicioHorario',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "HoraInicio": HoraInicio,
                    "Idterminal": terminalInicio
                },
                success: function (data) {
                    if (data.alert != '') {
                        alertSuccess(data.message)
                    }
                }
            });
        }

        function RegistrarFinHorario() {
            let terminalInicio = $("#cmbTerminalFin").val();
            let HoraInicio = $("#txtHoraFin").text();

            $.ajax({
                url: '../Mantenedor/SetRegistroBitacoraInicioHorario',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "HoraInicio": HoraInicio,
                    "Idterminal": terminalInicio
                },
                success: function (data) {
                    if (data.Data.alert != '') {
                        alertSuccess(data.Data.message)
                        tblRuta.ajax.reload(null, false);

                        $("#cmbTerminalFin option").attr("selected", false);

                        $("cmbTerminalFin option[value='" + 0 + "']").attr("selected", "selected");
                    }
                }
            });
        }

        function GetInicioTurno() {
            $.ajax({
                url: '../Mantenedor/GetInicioTurno',
                type: 'post',
                datatype: 'json',
                async: false,
                data: null,
                success: function (data) {
                    if (data.data != null) {
                        $("#idTurnoActual").val(data.data.ID_REGISTRO_HORARIO)

                        $("cmbTerminalInicio option").attr("selected", false);

                        $("#cmbTerminalInicio option[value='" + data.data.ID_TERMINAL_INICIO + "']").attr("selected", "selected");

                        $("#txtHoraInicio").val(data.data.HORA_INICIO);
                        $("#btnRegistrarInicio").css('display', 'none');

                        $(".Ini").prop('disabled', true);
                    }

                }
            });
        }

        function RegistrarInicioInicioVuelta() {
            let terminalInicio = $("#cmbTerminalInicioVuelta").val();
            let HoraInicio = $("#txtIniVuelta").val();
            let HoraTurno = $("#idTurnoActual").val();

            $.ajax({
                url: '../Mantenedor/SetRegistroInicioVuelta',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "HoraInicio": HoraInicio,
                    "Idterminal": terminalInicio,
                    "idHorario": HoraTurno
                },
                success: function (data) {
                    if (data.Data.alert != '') {
                        alertSuccess(data.Data.message)
                        tblRuta.ajax.reload(null, false);

                        $("#cmbTerminalInicioVuelta").val();
                        $("#txtIniVuelta").val("");

                        $("#cmbTerminalInicioVuelta option").attr("selected", false);

                        $("cmbTerminalInicioVuelta option[value='" + 0 + "']").attr("selected", "selected");
                    }
                }
            });
        }

    </script>
}