@model ConductorEnRed.ViewModels.Mantenedores.VM_HORARIO_SOLICITUD
@{
    ViewBag.Title = "Horario";
}

<style>
    .borderInput {
        margin: 10px;
    }

    .divFlot {
        text-align: right
    }
</style>

<div class="page-title">
    <div class="content-title">
        <h3>Mi Horario</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Mi Horario</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="card">
    @*<div class="form-row">
            <div class="col-md-4">
                <div class="form-row">
                    <div class="col-12 col-md-12">
                        <div class="borderInput">
                            <span>Nombre completo: </span>
                            <span class="text-primary" id="lblNombreConductor"></span>
                        </div>
                        <div class="borderInput">
                            <span>R.U.N: </span>
                            <span class="text-primary" id="lblRutConductor"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-row">
                    <div class="col-12 col-md-12">
                        <div class="borderInput">
                            <span>Tipo de Contrato:</span>
                            <span class="text-primary" id="lblContratoConductor"></span>
                        </div>
                        <div class="borderInput">
                            <span>Total horas extras: </span>
                            <span class="text-primary" id="lblTotalHorasExtras"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-12 text-center" style="margin:20px">
                    <a type="button" href="" class="btn btn-success">Solicitar modificación</a>
                </div>
        </div>
            </div>*@
</div>
<br />

<div class="flex-fill">
    <div class="panel">
        <div class="card">
            <div class="borderInput">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <button class="btn btn-outline-light" id="btnSemanaAnterior" onclick="SiguienteSemana(this);">Semana anterior</button>
                    </div>
                    <div class="form-group ocultar text-center col-md-4">
                        <button class="btn btn-outline-light" type="button" id="btnSemanaActual" onclick="SiguienteSemana(this)">Volver a semana actual</button>
                    </div>
                    <div class="form-group col-md-4 text-right ocultar">
                        <button class="btn btn-outline-light " type="button" id="btnSemanaSiguiente" onclick="SiguienteSemana(this)">Próximos 7 dias</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="col-md-12 card" id="divTablaUno">
    <table id="tblTurnoUno" class="table table-striped table-hover">
    </table>
</div>
<br />

<div class="col-md-12 card" id="divTablaDos" style="display:none">
    <table id="tblTurnoDos" class="table table-striped table-hover">
    </table>
</div>


@section scripts
{
    <script src="@Url.Content("~/Scripts/general-functions.js")"></script>

    <script>
        var tblTurnoUno;
        var tblTurnoDos;

        $(document).ready(function () {            
            CargaBotones();
            BuscarConductorHorario();

            $(".input-num").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });

        });

        function CargaBotones() {
            $.ajax({
                url: '../HorarioConductor/ObtenerFechaBotonesInicial',
                type: 'post',
                datatype: 'json',
                contentType: false,
                processData: false,
                async: false,
                data: null,
                success: function (data) {
                    $("#btnSemanaAnterior").text(data.data[0]);
                    $("#btnSemanaActual").text(data.data[1]);
                    $("#btnSemanaSiguiente").text(data.data[2]);
                },
                error: function () {
                    alertDanger("Ups! algo ha salido mal, pero lo estamos solucionando");
                }

            });
        }

        function BuscarConductorHorario() {            

            tblTurnoUno = $("#tblTurnoUno").DataTable({
                scrollX: true,
                processing: true,
                destroy: true,
                language: {
                    "url": "../Plugins/DataTables/js/Spanish.json"
                },
                order: [[0, "asc"]],
                initComplete: function (full,data) {
                    if (data.data.length == 0) {
                        
                        alertSuccess("NO se ha cargado el horario aún para la semana seleccionada");
                    }
                    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

                },
                ajax: {
                    url: "../HorarioConductor/GetHorarioIndividualTurnoUno",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "fechaSemanaActual": $("#btnSemanaActual").text()
                    }
                },
                columns: [
                    { data: "NUM_ROW", visible: false },
                    { data: "ID_HORARIO", visible: false },
                    { data: "ID_CARGA_HORARIO", visible: false },
                    { data: "NUMERO_JORNADA", visible: false },
                    { data: "NOMBRE_DIA", title: "NOMBRE DÍA", name: "NOMBRE_DIA" },
                    {
                        data: null, title: "FECHA INICIO", name: "FECHA_HORA_INICIO", orderable: false, render:
                            function (full) {
                                if (moment(full.FECHA_HORA_INICIO).format('DD/MM/YYYY') != '31/12/0000') {
                                    return moment(full.FECHA_HORA_INICIO).format('DD/MM/YYYY');
                                } else {
                                    return "";
                                }

                            }
                    },
                    { data: "NOMBRE_TERMINAL", title: "TERMINAL INICIO", name: "NOMBRE_TERMINAL", orderable: false },
                    { data: "HORA_INICIO", title: "HORA", name: "HORA", orderable: false },
                    {
                        title: "GESTIÓN",
                        orderable: false,
                        render: function (data, type, full, meta) {
                            var html = '';
                            if (full.ID_HORARIO > 0) {
                                html = '<a href="/HorarioConductor/SetEditHorario?idHorario=' + full.ID_HORARIO + '"><i class="far fa-edit text-success"></i>\</a>';

                            }

                            return html;

                        }
                    },
                ]
            });

            tblTurnoDos = $("#tblTurnoDos").DataTable({
                scrollX: true,
                processing: true,
                destroy: true,
                language: {
                    "url": "../Plugins/DataTables/js/Spanish.json"
                },
                order: [[0, "desc"]],
                initComplete: function (full,data) {
                    if (data.data.length == 0) {
                        $("#divTablaDos").css('display', 'none');
                    } else {
                        $("#divTablaDos").css('display', '');
                    }
                    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

                },
                ajax: {
                    url: "../HorarioConductor/GetHorarioIndividualTurnoDos",
                    type: "POST",
                    dataType: "json",
                    data: null
                },
                columns: [
                    { data: "ID_HORARIO", visible: false },
                    { data: "ID_CARGA_HORARIO", visible: false },
                    { data: "NUMERO_JORNADA", visible: false },
                    {
                        data: null, title: "N°", name: "ROW_NUMBER", render:
                            function (full) {
                                if (full.ROW_NUMBER != 0) {
                                    return full.ROW_NUMBER;
                                } else {
                                    return "";
                                }
                            }
                    },
                    {
                        data: null, title: "FECHA INICIO", name: "FECHA_HORA_INICIO", render:
                            function (full) {
                                if (moment(full.FECHA_HORA_INICIO).format('DD/MM/YYYY') != '31/12/0000') {
                                    return moment(full.FECHA_HORA_INICIO).format('DD/MM/YYYY');
                                } else {
                                    return "";
                                }

                            }
                    },
                    { data: "NOMBRE_TERMINAL", title: "TERMINAL INICIO", name: "NOMBRE_TERMINAL" },
                    { data: "HORA_INICIO", title: "HORA", name: "HORA" },
                    {
                        title: "GESTIÓN",
                        orderable: false,
                        render: function (data, type, full, meta) {
                            var html = '';
                            if (full.ID_HORARIO > 0) {
                                html = '<a href="/HorarioConductor/SetEditHorario?idHorario=' + full.ID_HORARIO + '"><i class="far fa-edit text-success"></i>\</a>';

                            }

                            return html;

                        }
                    },
                ]
            });
        }

        function SiguienteSemana(btn) {
            var fechaString = $(btn).text();

            $.ajax({
                url: '../HorarioConductor/ObtenerFechaBotonesClick',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "fechaSemanas": fechaString
                },
                success: function (data) {
                    data
                    $("#btnSemanaAnterior").text(data.data[0]);
                    $("#btnSemanaActual").text(data.data[1]);
                    $("#btnSemanaSiguiente").text(data.data[2]);

                },
                error: function () {
                    alertDanger("Ups! algo ha salido mal, pero lo estamos solucionando");
                }
            });


            BuscarConductorHorario();

        }




    </script>
}
