@model ConductorEnRed.ViewModels.Mantenedores.VM_HORARIO_SOLICITUD
@{
    ViewBag.Title = "Horario";
}

<style>
    .borderInput {
        margin: 10px;
    }

    .divFlot {
        text-align: right
    }
</style>

<div class="page-title">
    <div class="content-title">
        <h3>Mi Horario</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Conductor</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="flex-fill">
    <div class="panel">
        <div class="card">
            <div class="borderInput">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <div>
                            <label><i class="fas fa-arrow-alt-circle-left"></i> Semana Anterior</label>
                        </div>
                        <div>
                            <button class="btn btn-outline-light" style="background-color: #0FC6AC; color: #FFFFFF " id="btnSemanaAnterior" onclick="SiguienteSemana(this);">Semana anterior</button>
                        </div>
                    </div>
                    <div class="form-group ocultar text-center col-md-4">
                        <div>
                            <label>Semana Actual</label>
                        </div>
                        <div>
                            <button class="btn btn-outline-light" style="background-color: #64C310; color: #FFFFFF" type="button" id="btnSemanaActual" onclick="SiguienteSemana(this)">Volver a semana actual</button>
                        </div>
                    </div>
                    <div class="form-group col-md-4 text-right ocultar">
                        <div>
                            <label>Semana Siguiente <i class="fas fa-arrow-alt-circle-right"></i></label>
                        </div>
                        <div>
                            <button class="btn" style="background-color: #0FC6AC; color: #FFFFFF " type="button" id="btnSemanaSiguiente" onclick="SiguienteSemana(this)">Próximos 7 dias</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="col-md-12 card" style="padding:15px" id="divTablaUno">
    <h4 class="text-success">Turno Uno</h4>
    <table id="tblTurnoUno" class="table table-striped table-hover">
    </table>
</div>


<br />

<div class="col-md-12 card" id="divTablaDos" style="padding:15px; display:none;">
    <h4 class="text-success">Turno Dos</h4>
    <table id="tblTurnoDos" class="table table-striped table-hover">
    </table>
</div>


<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow">
            <div class="modal-title">
                <div class="text-center">
                    <h3 class="text-success">Información</h3>
                </div>
            </div>
            <div class="modal-body">
                    <span class="text-primary" id="txtMostrar"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnConfirmar" onclick="CerrarModal();"><i class="fas fa-check"></i> Acpetar</button>
            </div>
        </div>
    </div>
</div>




@section scripts
{
    <script src="@Url.Content("~/Scripts/general-functions.js")"></script>

    <script>
        var tblTurnoUno;
        var tblTurnoDos;

        $(document).ready(function () {
            CargaBotones();
            BuscarConductorHorario();

            $(".input-num").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });

        });

        function CargaBotones() {
            $.ajax({
                url: '../HorarioConductor/ObtenerFechaBotonesInicial',
                type: 'post',
                datatype: 'json',
                contentType: false,
                processData: false,
                async: false,
                data: null,
                success: function (data) {
                    $("#btnSemanaAnterior").text(data.data[0]);
                    $("#btnSemanaActual").text(data.data[1]);
                    $("#btnSemanaSiguiente").text(data.data[2]);
                },
                error: function () {
                    alertDanger("Ups! algo ha salido mal, pero lo estamos solucionando");
                }

            });
        }

        function BuscarConductorHorario() {
            var respuesta = "";

            tblTurnoUno = $("#tblTurnoUno").DataTable({
                scrollX: true,
                processing: true,
                destroy: true,
                lengthChange: false,
                searching: false,
                paging: false,
                info: false,
                language: {
                    "url": "../Plugins/DataTables/js/Spanish.json"
                },
                order: [[0, "asc"]],
                initComplete: function (full, data) {
                    if (data.data.length == 0) {
                        respuesta = "No se ha cargado el horario aún, para el turno uno.";
                    }
                    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

                },
                ajax: {
                    url: "../HorarioConductor/GetHorarioIndividualTurnoUno",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "fechaSemanaActual": $("#btnSemanaActual").text()
                    }
                },
                columns: [
                    { data: "NUM_ROW", visible: false },
                    { data: "ID_HORARIO", visible: false },
                    { data: "ID_CARGA_HORARIO", visible: false },
                    { data: "NUMERO_JORNADA", visible: false },
                    { data: "NOMBRE_DIA", title: "Nombre Día", name: "NOMBRE_DIA" },
                    {
                        data: null, title: "Fecha Inicio", name: "FECHA_HORA_INICIO", orderable: false, render:
                            function (full) {
                                if (moment(full.FECHA_HORA_INICIO).format('DD/MM/YYYY') != '31/12/0000') {
                                    return moment(full.FECHA_HORA_INICIO).format('DD/MM/YYYY');
                                } else {
                                    return "";
                                }

                            }
                    },
                    { data: "NOMBRE_TERMINAL", title: "Terminal Inicio", name: "NOMBRE_TERMINAL", orderable: false },
                    { data: "HORA_INICIO", title: "Hora", name: "HORA", orderable: false },
                    {
                        title: "Gestión",
                        orderable: false,
                        render: function (data, type, full, meta) {
                            var html = '';
                            if (moment(full.FECHA_HORA_INICIO).format('DD/MM/YYYY HH:mm') >= moment(new Date).format('DD/MM/YYYY HH:mm')) {
                                html = '<a href="/HorarioConductor/SetEditHorario?idHorario=' + full.ID_HORARIO + '"><i class="far fa-edit text-success"></i>\</a>';

                            }

                            return html;

                        }
                    },
                ]
            });

            tblTurnoDos = $("#tblTurnoDos").DataTable({
                scrollX: true,
                processing: true,
                destroy: true,
                lengthChange: false,
                searching: false,
                paging: false,
                info: false,
                language: {
                    "url": "../Plugins/DataTables/js/Spanish.json"
                },
                order: [[0, "asc"]],
                initComplete: function (full, data) {
                    if (data.data.length == 0) {
                        if (respuesta != "") {
                            $("#txtMostrar").text("Ha relajarse! No se ha cargado el horario aún.");
                            $("#modalConfirmacion").modal("show");
                        }

                        $("#divTablaDos").css('display', 'none');

                    } else {
                        $("#divTablaDos").css('display', '');

                        if (respuesta != "") {
                            $("#txtMostrar").text(respuesta);
                            $("#modalConfirmacion").modal("show");
                        }
                    }
                    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();

                },
                ajax: {
                    url: "../HorarioConductor/GetHorarioIndividualTurnoDos",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "fechaSemanaActual": $("#btnSemanaActual").text()
                    }
                },
                columns: [
                    { data: "NUM_ROW", visible: false },
                    { data: "ID_HORARIO", visible: false },
                    { data: "ID_CARGA_HORARIO", visible: false },
                    { data: "NUMERO_JORNADA", visible: false },
                    { data: "NOMBRE_DIA", title: "Nombre Día", name: "NOMBRE_DIA" },
                    {
                        data: null, title: "Fecha Inicio", name: "FECHA_HORA_INICIO", orderable: false, render:
                            function (full) {
                                if (moment(full.FECHA_HORA_INICIO).format('DD/MM/YYYY') != '31/12/0000') {
                                    return moment(full.FECHA_HORA_INICIO).format('DD/MM/YYYY');
                                } else {
                                    return "";
                                }

                            }
                    },
                    { data: "NOMBRE_TERMINAL", title: "Terminal inicio", name: "NOMBRE_TERMINAL", orderable: false },
                    { data: "HORA_INICIO", title: "Hora", name: "HORA", orderable: false },
                    {
                        title: "Gestión",
                        orderable: false,
                        render: function (data, type, full, meta) {
                            var html = '';
                            if (full.ID_HORARIO > 0) {
                                html = '<a href="/HorarioConductor/SetEditHorario?idHorario=' + full.ID_HORARIO + '"><i class="far fa-edit text-success"></i>\</a>';

                            }

                            return html;

                        }
                    },
                ]
            });
        }

        function CerrarModal() {
            $("#modalConfirmacion").modal("hide");
        }

        function SiguienteSemana(btn) {
            var fechaString = $(btn).text();

            $.ajax({
                url: '../HorarioConductor/ObtenerFechaBotonesClick',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "fechaSemanas": fechaString
                },
                success: function (data) {
                    data
                    $("#btnSemanaAnterior").text(data.data[0]);
                    $("#btnSemanaActual").text(data.data[1]);
                    $("#btnSemanaSiguiente").text(data.data[2]);

                },
                error: function () {
                    alertDanger("Ups! algo ha salido mal, pero lo estamos solucionando");
                }
            });


            BuscarConductorHorario();

        }




    </script>
}
