@{
    ViewBag.Title = "Reprogramacion";
}

<style>
    .borderInput {
        margin: 10px;
    }

    .divFlot {
        text-align: right
    }
</style>

<div class="page-title">
    <div class="content-title">
        <h3>Modificación Horario</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Modificación Horario</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="card">
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-row">
                <div style="display:none" class="col-12 col-md-12 ocultar">
                    <div class="borderInput">
                        <span>Nombre completo: </span>
                        <span class="text-primary" id="lblNombreConductor"></span>
                    </div>
                    <div class="borderInput">
                        <span>R.U.N: </span>
                        <span class="text-primary" id="lblRutConductor"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-row">
                <div style="display:none" class="col-12 col-md-12 ocultar">
                    <div class="borderInput">
                        <span>Tipo de Contrato: </span>
                        <span class="text-primary" id="lblContratoConductor"></span>
                    </div>
                    <div class="borderInput">
                        <span>Total horas extras: </span>
                        <span class="text-primary" id="lblTotalHorasExtras"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-row">
                <div class="borderInput">
                    <input type="text" id="txtRutConductor" maxlength="12" placeholder="Ingrese un R.U.N." onclick="Limpiar();" class="form-control borderInput" />
                </div>
                <div class="borderInput">
                    <button id="btnBuscar" class="btn btn-primary borderInput" onclick="BuscarConductorHorarioClick();">Buscar</button>
                </div>

            </div>
        </div>
    </div>
</div>
<br />

@*JORNADA MAÑANA*@

<div class="jombotron">
    <div class="flex-fill">
        <div class="panel">
            <div class="card">
                <div class="borderInput">
                    <div class="form-row form-group">
                        <div class="col-md-6">
                            <h4 class="text-primary text-center">Jornada 1</h4>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-primary text-center">Jornada 2</h4>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="borderInput">
                    <div class="form-row col-12">
                        <div class="form-group col-md-4 ocultar">
                            <button class="btn btn-outline-light" id="btnSemanaAnterior" onclick="SiguienteSemana(this);">Semana anterior</button>
                        </div>
                        <div class="form-group ocultar text-center col-md-4">
                            <button class="btn btn-outline-light" type="button" id="btnSemanaActual" onclick="SiguienteSemana(this)">Volver a semana actual</button>
                        </div>
                        <div class="form-group col-md-4 text-right ocultar">
                            <button class="btn btn-outline-light " type="button" id="btnSemanaSiguiente" onclick="SiguienteSemana(this)">Próximos 7 dias</button>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="borderInput">

                            <div class="form-row">
                                <div class="form-row form-group col-12">
                                    <div class="col-md-3">
                                        <label id="idHorarioLunesT1" class="idHorario"></label>
                                        <label id="idLunesT1"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control  format-time bg-white enabled txtHor" type="time" id="txtHoraLunes1" maxlength="5" placeholder="HH:mm" />
                                    </div>
                                    <div class="col-md-4">
                                        <select id="ddlTerminalLu1" class="form-control enabled ddlTer"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control enabled txtCom" type="text" onkeypress="return Sololetras(event)" id="txtComentarioLu1" placeholder="Motivo" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group form-row col-12">
                                    <div class="col-md-3">
                                        <label id="idHorarioMartesT1" class="idHorario"></label>
                                        <label id="idMartesT1"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control format-time bg-white enabled txtHor" type="time" id="txtHoraMartes1" maxlength="5" placeholder="HH:mm" />
                                    </div>
                                    <div class="col-md-4">
                                        <select id="ddlTerminalMa1" class="form-control enabled ddlTer"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control enabled txtCom" type="text" onkeypress="return Sololetras(event)" id="txtComentarioMa1" placeholder="Motivo" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group form-row col-12">
                                    <div class="col-md-3">
                                        <label id="idHorarioMiercolesT1" class="idHorario"></label>
                                        <label id="idMiercolesT1"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control format-time bg-white enabled txtHor" type="time" id="txtHoraMiercoles1" maxlength="5" placeholder="HH:mm" />
                                    </div>
                                    <div class="col-md-4">
                                        <select id="ddlTerminalMi1" class="form-control enabled  ddlTer"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control enabled txtCom" type="text" onkeypress="return Sololetras(event)" id="txtComentarioMi1" placeholder="Motivo" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group form-row col-12">
                                    <div class="col-md-3">
                                        <label id="idHorarioJuevesT1" class="idHorario"></label>
                                        <label id="idJuevesT1"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control format-time bg-white enabled txtHor" type="time" id="txtHoraJueves1" maxlength="5" placeholder="HH:mm" />
                                    </div>
                                    <div class="col-md-4">
                                        <select id="ddlTerminalJu1" class="form-control enabled ddlTer"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control enabled txtCom" type="text" onkeypress="return Sololetras(event)" id="txtComentarioJu1" placeholder="Motivo" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group form-row col-12">
                                    <div class="col-md-3">
                                        <label id="idHorarioViernesT1" class="idHorario"></label>
                                        <label id="idViernesT1"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control format-time bg-white enabled txtHor" type="time" id="txtHoraViernes1" maxlength="5" placeholder="HH:mm" />
                                    </div>
                                    <div class="col-md-4">
                                        <select id="ddlTerminalVi1" class="form-control enabled ddlTer"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control enabled txtCom" type="text" onkeypress="return Sololetras(event)" id="txtComentarioVi1" placeholder="Motivo" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group form-row col-12">
                                    <div class="col-md-3">
                                        <label id="idHorarioSabadoT1" class="idHorario"></label>
                                        <label id="idSabadoT1"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control format-time bg-white enabled txtHor" type="time" id="txtHoraSabado1" maxlength="5" placeholder="HH:mm" />
                                    </div>
                                    <div class="col-md-4">
                                        <select id="ddlTerminalSa1" class="form-control enabled ddlTer"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control enabled txtCom" type="text" onkeypress="return Sololetras(event)" id="txtComentarioSa1" placeholder="Motivo" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group form-row col-12">
                                    <div class="col-md-3">
                                        <label id="idHorarioDomingoT1" class="idHorario"></label>
                                        <label id="idDomingoT1"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control format-time bg-white enabled txtHor" type="time" id="txtHoraDomingo1" maxlength="5" placeholder="HH:mm" />
                                    </div>
                                    <div class="col-md-4">
                                        <select id="ddlTerminalDo1" class="form-control enabled ddlTer"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control enabled txtCom" type="text" onkeypress="return Sololetras(event)" id="txtComentarioDo1" placeholder="Motivo" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*JORNADA TARDE*@

                    <div class="col-md-6">
                        <div class="borderInput">
                            <div class="form-row">
                                <div class="form-group form-row col-12">
                                    <div class="col-md-3">
                                        <label id="idHorarioLunesT2" class="idHorario"></label>
                                        <label id="idLunesT2"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control format-time bg-white enabled enabled txtHor" type="time" maxlength="5" placeholder="HH:mm" id="txtHoraLunes2" />
                                    </div>
                                    <div class="col-md-4">
                                        <select id="ddlTerminalLu2" class="form-control enabled enabled ddlTer"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control enabled txtCom" type="text" onkeypress="return Sololetras(event)" id="txtComentarioLu1" placeholder="Motivo" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group form-row col-12">
                                    <div class="col-md-3">
                                        <label id="idHorarioMartesT2" class="idHorario"></label>
                                        <label id="idMartesT2"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control format-time bg-white enabled txtHor" type="time" placeholder="HH:mm" maxlength="5" id="txtHoraMartes2" />
                                    </div>
                                    <div class="col-md-4">
                                        <select id="ddlTerminalMa2" class="form-control enabled ddlTer"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control enabled txtCom" type="text" onkeypress="return Sololetras(event)" id="txtComentarioLu1" placeholder="Motivo" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group form-row col-12">
                                    <div class="col-md-3">
                                        <label id="idHorarioMiercolesT2" class="idHorario"></label>
                                        <label id="idMiercolesT2"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control format-time bg-white enabled txtHor" type="time" placeholder="HH:mm" maxlength="5" id="txtHoraMiercoles2" />
                                    </div>
                                    <div class="col-md-4">
                                        <select id="ddlTerminalMi2" class="form-control enabled ddlTer"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control enabled txtCom" type="text" onkeypress="return Sololetras(event)" id="txtComentarioLu1" placeholder="Motivo" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group form-row col-12">
                                    <div class="col-md-3">
                                        <label id="idHorarioJuevesT2" class="idHorario"></label>
                                        <label id="idJuevesT2"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control format-time bg-white enabled txtHor" type="time" placeholder="HH:mm" maxlength="5" id="txtHoraJueves2" />
                                    </div>
                                    <div class="col-md-4">
                                        <select id="ddlTerminalJu2" class="form-control enabled ddlTer"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control enabled txtCom" type="text" onkeypress="return Sololetras(event)" id="txtComentarioLu1" placeholder="Motivo" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group form-row col-12">
                                    <div class="col-md-3">
                                        <label id="idHorarioViernesT2" class="idHorario"></label>
                                        <label id="idViernesT2"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control format-time bg-white enabled txtHor" type="time" placeholder="HH:mm" maxlength="5" id="txtHoraViernes2" />
                                    </div>
                                    <div class="col-md-4">
                                        <select id="ddlTerminalVi2" class="form-control enabled ddlTer"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control enabled txtCom" type="text" onkeypress="return Sololetras(event)" id="txtComentarioLu1" placeholder="Motivo" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group form-row col-12">
                                    <div class="col-md-3">
                                        <label id="idHorarioSabadoT2" class="idHorario"></label>
                                        <label id="idSabadoT2"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control format-time bg-white enabled txtHor" type="time" placeholder="HH:mm" maxlength="5" id="txtHoraSabado2" />
                                    </div>
                                    <div class="col-md-4">
                                        <select id="ddlTerminalSa2" class="form-control enabled ddlTer"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control enabled txtCom" type="text" onkeypress="return Sololetras(event)" id="txtComentarioLu1" placeholder="Motivo" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group form-row col-12">
                                    <div class="col-md-3">
                                        <label id="idHorarioDomingoT2" class="idHorario"></label>
                                        <label id="idDomingoT2"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control format-time bg-white enabled txtHor" type="time" placeholder="HH:mm" maxlength="5" id="txtHoraDomingo2" />
                                    </div>
                                    <div class="col-md-4">
                                        <select id="ddlTerminalDo2" class="form-control enabled ddlTer"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control enabled txtCom" type="text" onkeypress="return Sololetras(event)" id="txtComentarioLu1" placeholder="Motivo" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer ocultar">
                    <div class="borderInput">
                        <div class="divFlot">
                            <button type="button" class="btn btn-outline-light" onclick="Limpiar();">Cancelar</button>
                        </div>
                    </div>
                    <div class="borderInput ">
                        <div class="divFlot">
                            <button class="btn btn-success" type="button" onclick="GuaradarCambioHorario();"><i class="fas fa-edit"></i> Guardar cambios</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Scripts/general-functions.js")"></script>

    <script>
        $(document).ready(function () {
            $(".enabled").attr('disabled', 'disabled');
            $(".idHorario").css('display', 'none');
            $(".ocultar").css("display", "none");

            CargaFechasLabel();

            CargarTerminalesCmb();


            $(".input-num").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });

        });

        function Sololetras(e) {            
                var k;
                document.all ? k = e.keyCode : k = e.which;
                return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57));
        }

        function CargarTerminalesCmb() {
            $.ajax({
                url: '../Reprogramacion/GetCargarTerminalesCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "RutConductor": $("#txtRutConductor").val()
                },
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var option = $(document.createElement('option'));

                        option.val(data.data[i]["ID_TERMINAL"]);
                        option.text(data.data[i]["NOMBRE_TERMINAL"]);

                        $(".ddlTer").append(option);
                    }

                }

            });
        }

        function CargaFechasLabel() {
            $.ajax({
                url: '../Reprogramacion/ObtenerFechaSemanas',
                type: 'post',
                datatype: 'json',
                contentType: false,
                processData: false,
                async: false,
                data: null,
                success: function (data) {
                    $("#btnSemanaAnterior").text(data.data[0]);
                    $("#btnSemanaActual").text(data.data[1]);
                    $("#btnSemanaSiguiente").text(data.data[2]);

                    let fechaLunes = data.data[3];

                    let dia = fechaLunes.split('/')[0];
                    let mes = fechaLunes.split('/')[1];
                    let anio = fechaLunes.split('/')[2];

                    $("#idLunesT1").text("Lunes " + parseInt(dia) + "/" + mes + "/" + anio);
                    $("#idMartesT1").text("Martes " + (parseInt(dia) + 1) + "/" + mes + "/" + anio);
                    $("#idMiercolesT1").text("Miércoles " + (parseInt(dia) + 2) + "/" + mes + "/" + anio);
                    $("#idJuevesT1").text("Jueves " + (parseInt(dia) + 3) + "/" + mes + "/" + anio);
                    $("#idViernesT1").text("Viernes " + (parseInt(dia) + 4) + "/" + mes + "/" + anio);
                    $("#idSabadoT1").text("Sábado " + (parseInt(dia) + 5) + "/" + mes + "/" + anio);
                    $("#idDomingoT1").text("Domingo " + (parseInt(dia) + 6) + "/" + mes + "/" + anio);


                    $("#idLunesT2").text("Lunes " + parseInt(dia) + "/" + mes + "/" + anio);
                    $("#idMartesT2").text("Martes " + (parseInt(dia) + 1) + "/" + mes + "/" + anio);
                    $("#idMiercolesT2").text("Miércoles " + (parseInt(dia) + 2) + "/" + mes + "/" + anio);
                    $("#idJuevesT2").text("Jueves " + (parseInt(dia) + 3) + "/" + mes + "/" + anio);
                    $("#idViernesT2").text("Viernes " + (parseInt(dia) + 4) + "/" + mes + "/" + anio);
                    $("#idSabadoT2").text("Sábado " + (parseInt(dia) + 5) + "/" + mes + "/" + anio);
                    $("#idDomingoT2").text("Domingo " + (parseInt(dia) + 6) + "/" + mes + "/" + anio);
                },
                error: function () {
                    alertDanger("Ups! algo ha salido mal, pero lo estamos solucionando");
                }
            });
        }

        function SiguienteSemana(btn) {
            let txtRun = $("#lblRutConductor").text();
            var fechaString = $(btn).text();

            if (txtRun != "") {
                $.ajax({
                    url: '../Reprogramacion/GetConductorHorario',
                    type: 'post',
                    datatype: 'json',
                    async: false,
                    data: {
                        "RutConductor": txtRun,
                        "fechasConsultas": fechaString
                    },
                    success: function (data) {
                        $(".ocultar").css("display", "");

                        if (data.data != null) {
                            //DATOS
                            //$("#lblNombreConductor").text(data.data[0]["NOMBRE_COMPLETO"]);
                            //$("#lblRutConductor").text(data.data[0]["RUT"]);
                            //$("#txtRutConductor").val("");
                            //$("#lblIdUsuario").text(data.data[0]["ID_USUARIO"]);

                            CargaElementos(data);
                        }


                        ObtenerFechaBotones(fechaString);
                    }

                });


            } else {
                alertDanger1("Ingrese un R.U.N. válido para realizar una búsqueda")
            }


        }

        function ObtenerFechaBotones(fecha) {
            $.ajax({
                url: '../Reprogramacion/ObtenerFechaBotones',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "fechaSemanas": fecha
                },
                success: function (data) {
                    $("#btnSemanaAnterior").text(data.data[0]);
                    $("#btnSemanaActual").text(data.data[1]);
                    $("#btnSemanaSiguiente").text(data.data[2]);

                },
                error: function () {
                    alertDanger("Ups! algo ha salido mal, pero lo estamos solucionando");
                }
            });
        }

        function BuscarConductorHorarioClick() {
            var txtRun = $("#txtRutConductor").val();

            if (txtRun.toString() == "") {
                txtRun = $("#lblRutConductor").text();
                LimpiarMotivo();
            }



            if (txtRun != "") {
                $.ajax({
                    url: '../Reprogramacion/GetConductorHorario',
                    type: 'post',
                    datatype: 'json',
                    async: false,
                    data: {
                        "RutConductor": txtRun,
                        "fechasConsultas": $("#btnSemanaActual").text()
                    },
                    success: function (data) {
                        if (data.ErrorMsg != '') {
                            let txtRun = $("#txtRutConductor").val("");
                            alertDanger1(data.ErrorMsg);

                        } else {
                            if (data.data != null) {
                                $(".ocultar").css("display", "");
                                $("#lblNombreConductor").text(data.data[0]["NOMBRE_COMPLETO"]);
                                $("#lblRutConductor").text(data.data[0]["RUT"]);
                                $("#txtRutConductor").val("");
                                $("#lblIdUsuario").text(data.data[0]["ID_USUARIO"]);
                                $("#lblContratoConductor").text(data.data[0]["TIPO_CONTRATO"]);

                                $(".enabled").removeAttr('disabled');

                                CargaElementos(data);
                            } else {
                                alertDanger1("No existen datos para mostrar")
                            }
                        }

                    }
                });

            } else {
                alertDanger1("Ingrese un R.U.N. para realizar una búsqueda")
            }


        }

        function alertDanger1(msg) {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                background: '#EF3737',
                timer: 4000
            });

            Toast.fire({
                type: 'error',
                html: msg
            })
        }

        function alertSuccess1(msg) {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                background: '#00CA18',
                timer: 4000
            });

            Toast.fire({
                type: 'success',
                html: msg
            });

        }

        function CargaElementos(data) {

            $("#idHorarioLunesT1").text(data.data[0]["ID_HORARIO"]);
            $("#idLunesT1").text("Lunes " + data.data[0]["FECHA_INICIO"]);
            $("#idHorarioMartesT1").text(data.data[1]["ID_HORARIO"]);
            $("#idMartesT1").text("Martes " + data.data[1]["FECHA_INICIO"]);
            $("#idHorarioMiercolesT1").text(data.data[2]["ID_HORARIO"]);
            $("#idMiercolesT1").text("Miércoles " + data.data[2]["FECHA_INICIO"]);
            $("#idHorarioJuevesT1").text(data.data[3]["ID_HORARIO"]);
            $("#idJuevesT1").text("Jueves " + data.data[3]["FECHA_INICIO"]);
            $("#idHorarioViernesT1").text(data.data[4]["ID_HORARIO"]);
            $("#idViernesT1").text("Viernes " + data.data[4]["FECHA_INICIO"]);
            $("#idHorarioSabadoT1").text(data.data[5]["ID_HORARIO"]);
            $("#idSabadoT1").text("Sábado " + data.data[5]["FECHA_INICIO"]);
            $("#idHorarioDomingoT1").text(data.data[6]["ID_HORARIO"]);
            $("#idDomingoT1").text("Domingo " + data.data[6]["FECHA_INICIO"]);

            $("#idHorarioLunesT2").text(data.data[7]["ID_HORARIO"]);
            $("#idLunesT2").text("Lunes " + data.data[7]["FECHA_INICIO"]);
            $("#idHorarioMartesT2").text(data.data[8]["ID_HORARIO"]);
            $("#idMartesT2").text("Martes " + data.data[8]["FECHA_INICIO"]);
            $("#idHorarioMiercolesT2").text(data.data[9]["ID_HORARIO"]);
            $("#idMiercolesT2").text("Miércoles " + data.data[9]["FECHA_INICIO"]);
            $("#idHorarioJuevesT2").text(data.data[10]["ID_HORARIO"]);
            $("#idJuevesT2").text("Jueves " + data.data[10]["FECHA_INICIO"]);
            $("#idHorarioViernesT2").text(data.data[11]["ID_HORARIO"]);
            $("#idViernesT2").text("Viernes " + data.data[11]["FECHA_INICIO"]);
            $("#idHorarioSabadoT2").text(data.data[12]["ID_HORARIO"]);
            $("#idSabadoT2").text("Sábado " + data.data[12]["FECHA_INICIO"]);
            $("#idHorarioDomingoT2").text(data.data[13]["ID_HORARIO"]);
            $("#idDomingoT2").text("Domingo " + data.data[13]["FECHA_INICIO"]);

            //Horas
            $("#txtHoraLunes1").val(data.data[0]["HORA_INICIO"]);
            $("#txtHoraMartes1").val(data.data[1]["HORA_INICIO"]);
            $("#txtHoraMiercoles1").val(data.data[2]["HORA_INICIO"]);
            $("#txtHoraJueves1").val(data.data[3]["HORA_INICIO"]);
            $("#txtHoraViernes1").val(data.data[4]["HORA_INICIO"]);
            $("#txtHoraSabado1").val(data.data[5]["HORA_INICIO"]);
            $("#txtHoraDomingo1").val(data.data[6]["HORA_INICIO"]);

            $("#txtHoraLunes2").val(data.data[7]["HORA_INICIO"]);
            $("#txtHoraMartes2").val(data.data[8]["HORA_INICIO"]);
            $("#txtHoraMiercoles2").val(data.data[9]["HORA_INICIO"]);
            $("#txtHoraJueves2").val(data.data[10]["HORA_INICIO"]);
            $("#txtHoraViernes2").val(data.data[11]["HORA_INICIO"]);
            $("#txtHoraSabado2").val(data.data[12]["HORA_INICIO"]);
            $("#txtHoraDomingo2").val(data.data[13]["HORA_INICIO"]);

            //CMB_TERMINAL
            //MAÑANA
            $("#ddlTerminalLu1 option[value='" + data.data[0]["ID_TERMINAL"] + "']").prop("selected", true);
            $("#ddlTerminalMa1 option[value='" + data.data[1]["ID_TERMINAL"] + "']").prop("selected", true);
            $("#ddlTerminalMi1 option[value='" + data.data[2]["ID_TERMINAL"] + "']").prop("selected", true);
            $("#ddlTerminalJu1 option[value='" + data.data[3]["ID_TERMINAL"] + "']").prop("selected", true);
            $("#ddlTerminalVi1 option[value='" + data.data[4]["ID_TERMINAL"] + "']").prop("selected", true);
            $("#ddlTerminalSa1 option[value='" + data.data[5]["ID_TERMINAL"] + "']").prop("selected", true);
            $("#ddlTerminalDo1 option[value='" + data.data[6]["ID_TERMINAL"] + "']").prop("selected", true);

            //TARDE
            $("#ddlTerminalLu2 option[value='" + data.data[7]["ID_TERMINAL"] + "']").prop("selected", true);
            $("#ddlTerminalMa2 option[value='" + data.data[8]["ID_TERMINAL"] + "']").prop("selected", true);
            $("#ddlTerminalMi2 option[value='" + data.data[9]["ID_TERMINAL"] + "']").prop("selected", true);
            $("#ddlTerminalJu2 option[value='" + data.data[10]["ID_TERMINAL"] + "']").prop("selected", true);
            $("#ddlTerminalVi2 option[value='" + data.data[11]["ID_TERMINAL"] + "']").prop("selected", true);
            $("#ddlTerminalSa2 option[value='" + data.data[12]["ID_TERMINAL"] + "']").prop("selected", true);
            $("#ddlTerminalDo2 option[value='" + data.data[13]["ID_TERMINAL"] + "']").prop("selected", true);
        }

        function Limpiar() {
            $(".enabled").attr('disabled', 'disabled');
            CargaFechasLabel();
            $(".ocultar").css("display", "none");

            $(".txtHor").val("");
            $(".txtCom").val("");

            $(".ddlTer option").attr("selected", false);

            $(".ddlTer option[value='" + 0 + "']").attr("selected", "selected");
        }

        function LimpiarMotivo() {
            $(".txtHor").val("");
            $(".txtCom").val("");

        }

        function GuaradarCambioHorario() {
            var DTO_HorarioReprogramado = [
                {
                    ID_HORARIO: $("#idHorarioLunesT1").text(),
                    ID_TERMINAL: $("#ddlTerminalLu1 option:selected").val(),
                    HORA_INICIO: $("#txtHoraLunes1").val(),
                    COMENTARIO: $("#txtComentarioLu1").val()
                },
                {
                    ID_HORARIO: $("#idHorarioMartesT1").text(),
                    ID_TERMINAL: $("#ddlTerminalMa1").prop('selectedIndex'),
                    HORA_INICIO: $("#txtHoraMartes1").val(),
                    COMENTARIO: $("#txtComentarioMa1").val()
                },
                {
                    ID_HORARIO: $("#idHorarioMiercolesT1").text(),
                    ID_TERMINAL: $("#ddlTerminalMi1").prop('selectedIndex'),
                    HORA_INICIO: $("#txtHoraMiercoles1").val(),
                    COMENTARIO: $("#txtComentarioMi1").val()
                },
                {
                    ID_HORARIO: $("#idHorarioJuevesT1").text(),
                    ID_TERMINAL: $("#ddlTerminalJu1").prop('selectedIndex'),
                    HORA_INICIO: $("#txtHoraJueves1").val(),
                    COMENTARIO: $("#txtComentarioJu1").val()
                },
                {
                    ID_HORARIO: $("#idHorarioViernesT1").text(),
                    ID_TERMINAL: $("#ddlTerminalVi1").prop('selectedIndex'),
                    HORA_INICIO: $("#txtHoraViernes1").val(),
                    COMENTARIO: $("#txtComentarioVi1").val()
                },
                {
                    ID_HORARIO: $("#idHorarioSabadoT1").text(),
                    ID_TERMINAL: $("#ddlTerminalLSa1").prop('selectedIndex'),
                    HORA_INICIO: $("#txtHoraSabado1").val(),
                    COMENTARIO: $("#txtComentarioSa1").val()
                },
                {
                    ID_HORARIO: $("#idHorarioDomingoT1").text(),
                    ID_TERMINAL: $("#ddlTerminalDo1").prop('selectedIndex'),
                    HORA_INICIO: $("#txtHoraDomingo1").val(),
                    COMENTARIO: $("#txtComentarioDo1").val()
                },
                {
                    ID_HORARIO: $("#idHorarioLunesT2").text(),
                    ID_TERMINAL: $("#ddlTerminalLu2").prop('selectedIndex'),
                    HORA_INICIO: $("#txtHoraLunes2").val(),
                    COMENTARIO: $("#txtComentarioLu2").val()
                },
                {
                    ID_HORARIO: $("#idHorarioMartesT2").text(),
                    ID_TERMINAL: $("#ddlTerminalMa2").prop('selectedIndex'),
                    HORA_INICIO: $("#txtHoraMartes2").val(),
                    COMENTARIO: $("#txtComentarioMa2").val()
                },
                {
                    ID_HORARIO: $("#idHorarioMiercolesT2").text(),
                    ID_TERMINAL: $("#ddlTerminalMi2").prop('selectedIndex'),
                    HORA_INICIO: $("#txtHoraMiercoles2").val(),
                    COMENTARIO: $("#txtComentarioMa2").val()
                },
                {
                    ID_HORARIO: $("#idHorarioJuevesT2").text(),
                    ID_TERMINAL: $("#ddlTerminalJu2").prop('selectedIndex'),
                    HORA_INICIO: $("#txtHoraJueves2").val(),
                    COMENTARIO: $("#txtComentariJu2").val()
                },
                {
                    ID_HORARIO: $("#idHorarioViernesT2").text(),
                    ID_TERMINAL: $("#ddlTerminalVi2").prop('selectedIndex'),
                    HORA_INICIO: $("#txtHoraViernes2").val(),
                    COMENTARIO: $("#txtComentarioVi2").val()
                },
                {
                    ID_HORARIO: $("#idHorarioSabadoT2").text(),
                    ID_TERMINAL: $("#ddlTerminalSa1").prop('selectedIndex'),
                    HORA_INICIO: $("#txtHoraSabado2").val(),
                    COMENTARIO: $("#txtComentarioSa2").val()
                },
                {
                    ID_HORARIO: $("#idHorarioDomingoT2").text(),
                    ID_TERMINAL: $("#ddlTerminalDo2").prop('selectedIndex'),
                    HORA_INICIO: $("#txtHoraDomingo2").val(),
                    COMENTARIO: $("#txtComentarioDo2").val()
                }

            ]


            $.ajax({
                url: '../Reprogramacion/SetGuaradarCambioHorario',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    ObjetoHorario: DTO_HorarioReprogramado
                },
                success: function (data) {
                    if (data.ErrorTitle != '') {
                        alertDanger1(data.ErrorMsg);
                    } else {
                        alertSuccess(data.ErrorMsg);

                    }
                }
            });

            BuscarConductorHorarioClick();
        }

    </script>
}
