@{
    ViewBag.Title = "Bus";
}

<style>
    .borderInput {
        margin: 5px;
    }

    .divFlot {
        text-align: right
    }
</style>

<div class="page-title">
    <div class="content-title">
        <h3>Buses</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Listado de Buses</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="content-filters-b">
    <div class="card">
        <div class="form-row">
            <button class="btn btn-success" type="button" id="btnNuevoTerminal" onclick="VerNuevoBus();"><i class="far fa-plus"></i> Nuevo Bus</button>
        </div>
    </div>
</div>

<div class="card ocultar">
    <div class="modal-title">
        <div class="form-row">
            <div class="borderInput">
                <h4 class="modal-title text-primary">Nuevo Bus</h4>
            </div>
            <button type="button" class="close col-mb-0" onclick="Limpiar();" data-dismiss="modal" aria-label="Close">
                <i class="far fa-times"></i>
            </button>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3">
            <div class="form-group borderInput">
                <label for="TerminalPrincipal">Terminal Principal</label>
                <select id="ddlTerminalPrincipal" name="TerminalPrincipal" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group borderInput">
                <label for="txtNumeroInterno">Número Interno</label>
                <input id="txtNumInterno" type="number" name="txtNumeroInterno" placeholder="Número Interno" class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group borderInput">
                <label for="txtPPU">Placa Patente Única</label>
                <input id="txtPPU" type="text" name="txtPPU" placeholder="CCRR-21" class="form-control" />
            </div>
        </div>
        <div class="col-md-3 borderInput">
            <div class="form-group">
                <button type="button" class="btn btn-outline-light" onclick="Limpiar();">Cancelar</button>
                <button type="button" class="btn btn-success" id="btnGuaradarNuevo" onclick="GuardarNuevoBus();">Guardar</button>
            </div>
        </div>
    </div>
</div>
<br />
<div class="col-md-12 card" id="divTablaHorarios">
    <table id="tblBuses" class="table table-striped table-hover">
    </table>
</div>

<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow">
            <div class="modal-title">
                <div class="text-center">
                    <h3>¡Confirmar acción!</h3>
                </div>
            </div>
            <div class="modal-body">
                <h4 class="text-primary">
                    ¿Está seguro que desea eliminar el Bus placa patentente única? <label id="ppuEliminar"></label>
                </h4>
                <label style="display:none" id="idBusEliminar"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" id="btnCancela" onclick="CerrarModal();">Cancelar</button>
                <button type="button" class="btn btn-danger" id="btnAceptar" onclick="EliminarBus();">Eliminar</button>
            </div>
        </div>
    </div>
</div>


@section scripts
    {
    <script>
        let tblBuses;
        $(document).ready(function () {
            $(".ocultar").css("display", "none");
            CargarBuses();

            CargarTerminales();
        });

        function CargarTerminales() {
            $.ajax({
                url: '../Mantenedor/GetCargarTerminalesCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {},
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var optionTer = $(document.createElement('option'));
                        optionTer.val(data.data[i]["ID_TERMINAL"]);
                        optionTer.text(data.data[i]["NOMBRE_TERMINAL"]);

                        $("#ddlTerminalPrincipal").append(optionTer);
                    }
                }
            });
        }

        function CargarBuses() {
            tblBuses = $("#tblBuses").DataTable({
                dom: "<'card-header flex-column flex-lg-row align-items-start align-items-lg-center'<'d-flex flex-column flex-lg-row justify-content-start align-items-lg-center'<'titleRev mr-2'><'comboFil mb-2 mb-lg-0'>><'d-flex justify-content-md-end'fl>>" + "<'card-body p-0'tr>" + "<'card-footer'ip>",
                scrollX: true,
                processing: true,
                destroy: true,
                lengthChange: true,
                pageLength: 10,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                columnDefs: [
                    { targets: [0, 3, 4], searchable: false, orderable: false }
                ],
                language: {
                    "url": "../Plugins/DataTables/js/Spanish.json"
                },
                order: [[0, "desc"]],
                initComplete: function () {
                    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
                },
                ajax: {
                    url: "../Mantenedor/GetBusesActivos",
                    type: "POST",
                    dataType: "json",
                    data: null
                },
                columns: [
                    { data: "ID_BUS", visible: false },
                    { data: "ID_INTERNO_BUS", title: "NÚMERO BUS", name: "ID_INTERNO_BUS" },
                    { data: "NOMBRE_TERMINAL", title: "NOMBRE TERMINAL", name: "NOMBRE_TERMINAL" },
                    { data: "PPU", title: "PPU", name: "PPU" },
                    {
                        title: "GESTIÓN",
                        orderable: false,

                        render: function (data, type, full, meta) {
                            var html = '';

                            if (full.PPU != null) {
                                var PPU_string = full.PPU.replace('-', '');
                                html = '<a role="button" class="btn-table-bg " onclick="ShowEliminarBus(' + full.ID_BUS + ',' + "'" + full.PPU + "'" + ');"><i class="far fa-trash-alt text-danger"></i><span>&nbsp;&nbsp;</span><i class="far fa-edit text-success"></i></a>';
                            }

                            return html;
                        }
                    },
                ]
            });
        }

        function VerNuevoBus() {
            $(".ocultar").css("display", "")
        }

        function Limpiar() {
            $(".ocultar").css("display", "none")
        }

        function GuardarNuevoBus() {
            let idTerminal = $("#ddlTerminalPrincipal").val();
            let ppu = $("#txtPPU").val();
            let numeroBus = $("#txtNumInterno").val();

            $.ajax({
                url: '../Mantenedor/SetGuardarNuevoBus',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "idTerminal": idTerminal,
                    "ppu": ppu,
                    "numeroBus": numeroBus,
                },
                success: function (data) {
                    if (data.Data.alert == "success") {
                        setTimeout(function () {
                            alertSuccess(data.Data.message);
                        }, 500);
                        Limpiar();
                        tblBuses.ajax.reload(null, false);
                    } else {
                        alertSuccess(data.Data.message);
                    }
                }, error: function () {
                    alertDanger("Ha ocurrido una incidencia, inténtelo nuevamente");
                    tblBuses.ajax.reload(null, false);
                }

            });

        }

        function Limpiar() {
            $("#ddlTerminalPrincipal option").attr("selected", false);
            $("#ddlTerminalPrincipal option[value='" + 0 + "']").attr("selected", "selected");
            $("#PPU").val("");
            $("#NumInterno").val("");
            $(".ocultar").css("display", "none")
        }

        function EliminarBus() {
            var idBus = $("#idBusEliminar").val();

            $.ajax({
                url: '../Mantenedor/SetEliminarBus',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "idBus": idBus
                },
                success: function (data) {
                    if (data.Data.alert == "success") {
                        setTimeout(function () {
                            alertSuccess(data.Data.message);
                        }, 500);
                        CerrarModal();
                        Limpiar();
                        tblBuses.ajax.reload(null, false);

                    } else {
                        alertSuccess(data.Data.message);
                    }

                }, error: function () {
                    CerrarModal();
                    alertDanger("Ha ocurrido una incidencia, inténtelo nuevamente");
                    tblBuses.ajax.reload(null, false);
                }
            });
        }

        function ShowEliminarBus(idBus, PPU) {
            $("#ppuEliminar").text(PPU);
            $("#idBusEliminar").val(idBus);

            $("#modalConfirmacion").modal("show");
        }

        function CerrarModal() {
            $("#modalConfirmacion").modal("hide");
        }

    </script>
}

