@{
    ViewBag.Title = "Comuna";
}

<style>
    .borderInput {
        margin: 10px;
    }

    .divFlot {
        text-align: right
    }
</style>

<div class="page-title">
    <div class="content-title">
        <h3>Comuna</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Listado de Comunas</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="card">
    <div class="modal-title">
        <div class="form-row">
            <div class="borderInput">
                <h4 class="modal-title text-primary">Comunas</h4>
            </div>
            <button type="button" class="close col-mb-0" onclick="Limpiar();" data-dismiss="modal" aria-label="Close">
                <i class="far fa-times"></i>
            </button>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="borderInput" for="NumeroServicio">Comunas</label>
                <select id="ddlComunas" name="NumeroServicio" class="form-control borderInput"></select>
            </div>

        </div>
        <div class="col-md-3">
            <div>
                <button class="btn btn-primary borderInput" type="button" id="btnBuscarComuna" onclick="ShowEditarComuna();">Editar</button>
                <button class="btn btn-danger borderInput" id="btnEliminarComuna" onclick="ShowModalEliminar();">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<br />

<div class="col-md-12 card" id="divTablaHorarios">
    <div class="form-row">
        <div id="divComunaNew" class="col-md-4">
            <div class="form-group borderInput">
                <label for="NombreComuna">Nombre Comuna</label>
                <input id="txtNomComuna" type="text" name="NombreComuna" onkeyup="MostrarBotonGuardar();" placeholder="Nombre Comuna" class="form-control" />
            </div>
        </div>
        <div id="divComunaEdit" class="col-md-4" style="display:none">
            <div class="form-group borderInput">
                <label for="NombreComuna">Nombre Comuna</label>
                <input id="txtNomComunaEdit" type="text" name="NombreComuna" placeholder="Nombre Comuna" class="form-control" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group borderInput ocultar">
                <label for="Motivo">Motivo de  Edición</label>
                <input id="txtMotivo" type="text" name="Motivo" placeholder="Ingrese motivo" class="form-control" />
            </div>
        </div>

    </div>
    <div class="col-md-12">
        <div class="form-row">
            <div class="form-group col-md-4">

            </div>
            <div class="form-group col-md-4" id="divBtnGuradar">

            </div>
            <div class="form-group col-md-4">
                <div class="text-right">
                    <button type="button" class="btn btn-outline-light borderInput" onclick="Limpiar();">Cancelar</button>
                    <button type="button" class="btn btn-success borderInput" id="btnEditarComuna" style="display:none" onclick="ConfirmarEdicion();"><i class="fas fa-edit"></i> Guardar</button>
                    <button type="button" class="btn btn-success" id="btnGuardarComuna" style="display:none" onclick="GuardarNuevaComuna();"><i class="fa fa-city"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow">
            <div class="modal-title">
                <div class="text-center">
                    <h3>¡Confirmar acción!</h3>
                </div>
            </div>
            <div class="modal-body">
                <div>
                    <label>¿Está seguro que desea <span id="txtMostrar"></span> la comuna?</label>
                    <span id="lblNomComuna" class="text-primary"></span>
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" id="btnCancela" onclick="CerrarModal();">Cancelar</button>
                <button type="button" class="btn btn-danger" id="btnEliminar" onclick="EliminarComuna();">Eliminar</button>
                <button type="button" class="btn btn-success" id="btnAceptarEditar" onclick="GuardarEdicionComuna();">Guardar</button>
            </div>
        </div>
    </div>
</div>



@section scripts
    {
    <script>
        $(document).ready(function () {
            $(".ocultar").css("display", "none");
            CargarComunas();
        });

        function verMotivo() {
            $(".ocultar").css("display", "")
        }

        function Limpiar() {
            $(".ocultar").css("display", "none");            
            $("#btnGuardarComuna").css('display', "none");
            $("#btnAceptarEditar").css('display', 'none');
            $("#divComunaEdit").css('display', 'none');
            $("#divMotivoEliminar").css('display', 'none');

            $("#txtNomComuna").val("");
            $("#txtMotivo").val("");

            $("#btnEditarComuna").css('display', '');
            $("#divComunaNew").css('display', '');
            $("#btnEliminar").css('display', '');
            $("#btnEliminarComuna").css('display', '');
            

            $("#ddlComunas").empty();
            CargarComunas();
        }

        function EliminarComuna() {
            let idComuna = $("#ddlComunas").val();

            $.ajax({
                url: '../Mantenedor/SetEliminarComuna',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "idComuna": idComuna,
                },
                success: function (data) {
                    if (data.Data.alert == "success") {
                        setTimeout(function () {
                            alertSuccess(data.Data.message);
                        }, 500);
                        CerrarModal();
                        Limpiar();

                    } else {
                        alertDanger(data.Data.message);
                    }
                },
                error: function () {
                    CerrarModal();
                    alertDanger("Ha ocurrido una incidencia, inténtelo nuevamente");
                }
            });
        }

        function ShowModalEliminar() {
            $("#divMotivoEliminar").css('display', '');
            var comuna = $("#ddlComunas option:selected").text();
            $("#btnAceptarEditar").css('display', 'none');
            $("#txtMostrar").text("eliminar")
            $("#lblNomComuna").text(comuna);
            $("#modalConfirmacion").modal("show");
        }

        function CerrarModal() {
            $("#modalConfirmacion").modal("hide");
        }

        function CargarComunas() {
            $.ajax({
                url: '../Mantenedor/GetComunasCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var option = $(document.createElement('option'));

                        option.val(data.data[i]["ID_COMUNA"]);
                        option.text(data.data[i]["NOMBRE_COMUNA"]);
                        $("#ddlComunas").append(option);
                    }

                }
            });
        }

        function ShowEditarComuna() {
            var comuna = $("#ddlComunas option:selected").text();
            $("#txtNomComunaEdit").val(comuna);
            $("#btnEditarComuna").css('display', '');

            $("#btnEliminarComuna").css('display', 'none');
            $("#btnEliminar").css('display', 'none');
            $("#divComunaNew").css('display', 'none');
            $("#divComunaEdit").css('display', '');
            verMotivo();
        }

        function MostrarBotonGuardar() {

            var comuna = $("#txtNomComuna").val();
            if (comuna.length > 3) {
                $("#btnGuardarComuna").css('display', '');
                $("#btnEditarComuna").css("display", "none");
            } else if (comuna == 0) {
                $("#btnEditarComuna").css('display', '');
                $("#btnGuardarComuna").css('display', "none");
            }
        }

        function GuardarNuevaComuna() {
            var comuna = $("#txtNomComuna").val();

            $.ajax({
                url: '../Mantenedor/SetNuevaComuna',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "nomComuna": comuna
                },
                success: function (data) {
                    if (data.Data.alert == "success") {
                        Limpiar();
                        setTimeout(function () {
                            alertSuccess(data.Data.message);
                        }, 500);

                        Limpiar();
                    } else {
                        alertDanger(data.Data.message);
                    }

                },
                error: function () {
                    CerrarModal();
                    alertDanger("Ha ocurrido una incidencia, lo resolveremos a la brevedad");
                }
            });
        }

        function GuardarEdicionComuna() {
            var COMUNA =
            {
                ID_COMUNA: $("#ddlComunas").val(),
                NOMBRE_COMUNA: $("#txtNomComunaEdit").val(),
                MOTIVO_EDICION: $("#txtMotivo").val(),
            };

            $.ajax({
                url: '../Mantenedor/SetEditarComuna',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "COMUNA": COMUNA
                },
                success: function (data) {
                    if (data.Data.alert == "success") {
                        setTimeout(function () {
                            alertSuccess(data.Data.message);
                        }, 500);
                        CerrarModal();
                        Limpiar();

                    } else {
                        alertSuccess(data.Data.message);
                    }

                }, error: function () {
                    CerrarModal();
                    alertDanger("Ha ocurrido una incidencia, inténtelo nuevamente");
                    CargarComunas();
                }
            });
        }

        function ConfirmarEdicion() {
            $("#txtMostrar").text("editar");

            $("#btnEliminar").css('display', 'none');

            $("#modalConfirmacion").modal("show");
        }
    </script>
}