@{
    ViewBag.Title = "Comuna";
}

<style>
    .borderInput {
        margin: 10px;
    }

    .divFlot {
        text-align: right
    }
</style>

<div class="page-title">
    <div class="content-title">
        <h3>Comuna</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Listado de Comunas</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="card">
    <div class="modal-title">
        <div class="form-row">
            <div class="borderInput">
                <h4 class="modal-title text-primary">Comunas</h4>
            </div>
            <button type="button" class="close col-mb-0" onclick="Limpiar();" data-dismiss="modal" aria-label="Close">
                <i class="far fa-times"></i>
            </button>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="borderInput" for="NumeroServicio">Comunas</label>
                <select id="ddlComunas" name="NumeroServicio" class="form-control borderInput"></select>
            </div>

        </div>
        <div class="col-md-3">
            <div>
                <button class="btn btn-primary borderInput" type="button" id="btnBuscarComuna" onclick="EditarComuna();">Editar</button>
                <button class="btn btn-danger borderInput" id="btnEliminarComuna" onclick="ShowModalEliminar();">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<br />

<div class="col-md-12 card" id="divTablaHorarios">
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group borderInput">
                <label for="NombreComuna">Nombre Comuna</label>
                <input id="txtNomComuna" type="text" name="NombreComuna" onkeyup="MostrarBotonGuardar();" placeholder="Nombre Comuna" class="form-control" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group borderInput ocultar">
                <label for="Motivo">Motivo de  Edición</label>
                <input id="txtMotivo" type="text" name="Motivo" placeholder="Ingrese motivo" class="form-control" />
            </div>
        </div>

    </div>
    <div class="col-md-12">
        <div class="form-row">
            <div class="form-group col-md-4">

            </div>
            <div class="form-group col-md-4" id="divBtnGuradar">

            </div>
            <div class="form-group col-md-4">
                <div class="text-right">
                    <button type="button" class="btn btn-outline-light borderInput" onclick="Limpiar();">Cancelar</button>
                    <button type="button" class="btn btn-primary borderInput" id="btnEditarComuna">Guardar</button>
                    <button type="button" class="btn btn-success" id="btnGuardarComuna" style="display:none" onclick="GuardarNuevaComuna();"><i class="fa fa-city"></i> Guardar comuna</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow">
            <div class="modal-title">
                <div class="text-center">
                    <h3>¡Confirmar acción!</h3>
                </div>
            </div>
            <div class="modal-body">
                <label>¿Está seguro que desea eliminar la comuna?</label><h4 id="lblNomComuna" class="text-primary"></h4>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" id="btnCancela" onclick="CerrarModal();">Cancelar</button>
                <button type="button" class="btn btn-danger" id="btnAceptar" onclick="EliminarComuna();">Eliminar</button>
            </div>
        </div>
    </div>
</div>



@section scripts
    {
    <script>
        $(document).ready(function () {
            $(".ocultar").css("display", "none");
            CargarComunas();
        });

        function verMotivo() {
            $(".ocultar").css("display", "")
        }

        function Limpiar() {
            $(".ocultar").css("display", "none");
            $("#btnEditarComuna").css('display', '');
            $("#btnGuardarComuna").css('display', "none");

            $("#txtNomComuna").val("");
            CargarComunas();
        }

        function EliminarComuna() {
            var idComuna = $("#ddlComunas").val();

            $.ajax({
                url: '../Mantenedor/SetEliminarComuna',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "idComuna": idComuna
                },
                success: function (data) {
                    if (data.Data.alert == "success") {                       
                        setTimeout(function () {
                            alertSuccess(data.Data.message);
                        }, 500);
                        CerrarModal();
                        Limpiar();

                    } else {
                        alertDanger(data.Data.message);
                    }
                },
                error: function () {
                    CerrarModal();
                    alertDanger("Ha ocurrido una incidencia, inténtelo nuevamente");
                }
            });
        }

        function ShowModalEliminar() {
            var comuna = $("#ddlComunas option:selected").text();
            $("#lblNomComuna").text(comuna);
            $("#modalConfirmacion").modal("show");
        }

        function CerrarModal() {
            $("#modalConfirmacion").modal("hide");
        }

        function CargarComunas() {
            $.ajax({
                url: '../Mantenedor/GetComunasCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var option = $(document.createElement('option'));

                        option.val(data.data[i]["ID_COMUNA"]);
                        option.text(data.data[i]["NOMBRE_COMUNA"]);
                        $("#ddlComunas").append(option);
                    }

                }
            });
        }

        function EditarComuna() {
            var comuna = $("#ddlComunas option:selected").text();
            $("#txtNomComuna").val(comuna);
            verMotivo();
        }

        function MostrarBotonGuardar() {

            var comuna = $("#txtNomComuna").val();
            if (comuna.length > 3) {
                $("#btnGuardarComuna").css('display', '');
                $("#btnEditarComuna").css("display", "none");
            } else if (comuna == 0) {
                $("#btnEditarComuna").css('display', '');
                $("#btnGuardarComuna").css('display', "none");
            }
        }

        function GuardarNuevaComuna() {
            var comuna = $("#txtNomComuna").val();

            $.ajax({
                url: '../Mantenedor/SetNuevaComuna',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "nomComuna": comuna
                },
                success: function (data) {
                    if (data.Data.alert == "success") {
                        Limpiar();
                        setTimeout(function () {
                            alertSuccess(data.Data.message);
                        }, 500);

                        Limpiar();
                    } else {
                        alertDanger(data.Data.message);
                    }

                },
                error: function () {
                    CerrarModal();
                    alertDanger("Ha ocurrido una incidencia, lo resolveremos a la brevedad");
                    tblTerminal.ajax.reload(null, false);
                }
            });
        }

    </script>
}