@{
    ViewBag.Title = "Comuna";
}

<style>
    .borderInput {
        margin: 10px;
    }

    .divFlot {
        text-align: right
    }

    .container-title {
        display: flex;
    }

    .contiener-row {
        display: flex;
        align-items: center;
    }


    .btn-x {
        margin-left: auto
    }
</style>

<div class="page-title">
    <div class="content-title">
        <h3>Comuna</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Mantenedor</a></li>
            </ol>
        </nav>
    </div>
</div>


<div class="card">
    <div class="modal-body">
        <div class="form-row container-title">
            <div class="borderInput">
                <h4 class="modal-title text-success">Comunas</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="form-row contiener-row">
            <hr class="col-12" />
            <div class="col-md-6">
                <div class="form-row" style="display:flex">
                    <div class="col-10">
                        <label for="NumeroServicio">Comunas</label>
                        <select id="ddlComunas" name="NumeroServicio" class="form-control" onchange="HabilitarEdit();"></select>
                        <i class="far fa-info-circle text-primary mr-2 align-self-center" data-toggle="tooltip" data-placement="right" title="Seleccione una comuna para eliminarla o editarla"></i>
                    </div>
                </div>
                <div class="modal-footer" style="display:none" id="divBtonesEdit">
                    <div>
                        <button class="btn btn-success" type="button" id="btnEditComuna" onclick="ShowEditarComuna();"><i class="fas fa-edit"></i> Editar</button>
                        <button class="btn btn-danger" id="btnEliminarComuna" onclick="ShowModalEliminar();"><i class="fas fa-trash"></i> Eliminar</button>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div id="divComunaNew" class="form-row" style="display:flex">
                    <div class="col-10">
                        <label for="NombreComuna">Nombre Comuna *</label>
                        <input id="txtNomComuna" type="text" name="NombreComuna" onkeyup="CamelCase(this)" placeholder="Nombre Comuna" onblur="ValidarComunaExiste();" class="form-control" />
                        <i class="far fa-info-circle text-primary mr-2 align-self-center" data-toggle="tooltip" data-placement="left" title="Comience a escribir para agregar una nueva comuna"></i>
                    </div>
                </div>
                <div id="divComunaEdit" class="col-md-10" style="display:none">
                    <label for="NombreComuna">Nombre Comuna</label>
                    <input id="txtNomComunaEdit" type="text" maxlength="30" name="NombreComuna" onkeyup="CamelCase(this)" onblur="ValidarComunaExiste();" placeholder="Nombre Comuna" class="form-control" />
                </div>
                <div class="col-md-10">
                    <div class="form-group ocultar">
                        <label for="Motivo">Motivo de  Edición</label>
                        <input id="txtMotivo" type="text" name="Motivo" maxlength="100" placeholder="Ingrese motivo" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="form-row">
                <label class="text-danger">* Todos los compos son requeridos</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-light borderInput" onclick="Limpiar();">Cancelar</button>
        <button type="button" class="btn btn-success borderInput" id="btnEditarComuna" style="display:none" onclick="ConfirmarEdicion();"><i class="fas fa-edit"></i> Guardar</button>
        <button type="button" class="btn btn-success" id="btnGuardarComuna" onclick="GuardarNuevaComuna();"><i class="fa fa-edit"></i> Guardar</button>
    </div>
</div>

<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow">
            <div class="modal-title">
                <div class="text-center">
                    <h3>¡Confirmar acción!</h3>
                </div>
            </div>
            <div class="modal-body">
                <div>
                    <label>¿Está seguro que desea <span id="txtMostrar"></span> la comuna <span id="lblNomComuna" class="text-primary"></span>?</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" id="btnCancela" onclick="CerrarModal();">Cancelar</button>
                <button type="button" class="btn btn-danger" id="btnEliminar" onclick="EliminarComuna();"><i class="fas fa-trash"></i> Eliminar</button>
                <button type="button" class="btn btn-success" id="btnAceptarEditar" onclick="GuardarEdicionComuna();"><i class="fas fa-edit"></i> Confirmar</button>
            </div>
        </div>
    </div>
</div>



@section scripts
    {
    <script>
        $(document).ready(function () {
            $(".ocultar").css("display", "none");
            CargarComunas();

        });

        function verMotivo() {
            $(".ocultar").css("display", "")
        }

        function Limpiar() {
            $(".ocultar").css("display", "none");
            $("#btnAceptarEditar").css('display', 'none');
            $("#divMotivoEliminar").css('display', 'none');
            $("#btnEditarComuna").css('display', 'none');
            $("#divBtonesEdit").css('display', 'none');

            $("#txtNomComuna").val("");
            $("#txtMotivo").val("");

            $("#btnGuardarComuna").css('display', '');

            $("#ddlComunas").empty();
            CargarComunas();
        }

        function EliminarComuna() {
            let idComuna = $("#ddlComunas").val();

            $.ajax({
                url: '../Mantenedor/SetEliminarComuna',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "idComuna": idComuna,
                },
                success: function (data) {
                    if (data.Data.alert == "success") {
                        setTimeout(function () {
                            alertSuccess(data.Data.message);
                        }, 500);
                        CerrarModal();
                        Limpiar();

                    } else {
                        alertDanger(data.Data.message);
                    }
                },
                error: function () {
                    CerrarModal();
                    alertDanger("Ha ocurrido una incidencia, inténtelo nuevamente");
                }
            });
        }

        function ShowModalEliminar() {
            $("#divMotivoEliminar").css('display', '');
            var comuna = $("#ddlComunas option:selected").text();
            $("#btnAceptarEditar").css('display', 'none');
            $("#txtMostrar").text("eliminar")
            $("#lblNomComuna").text(comuna);
            $("#modalConfirmacion").modal("show");
        }

        function ShowEditarComuna() {
            var comuna = $("#ddlComunas option:selected").text();
            $("#txtNomComunaEdit").val(comuna);
            $("#btnEditarComuna").css('display', '');
            $("#divComunaNew").css('display', 'none');

            $("#btnGuardarComuna").css('display', 'none');
            $("#btnEliminar").css('display', 'none');
            $("#divComunaEdit").css('display', '');
            verMotivo();
        }

        function CerrarModal() {
            $("#modalConfirmacion").modal("hide");
        }

        function CargarComunas() {
            $.ajax({
                url: '../Mantenedor/GetComunasCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var option = $(document.createElement('option'));

                        option.val(data.data[i]["ID_COMUNA"]);
                        option.text(data.data[i]["NOMBRE_COMUNA"]);
                        $("#ddlComunas").append(option);
                    }

                }
            });
        }

        function GuardarNuevaComuna() {
            let comuna = $("#txtNomComuna").val();

            if (comuna != "") {
                $.ajax({
                    url: '../Mantenedor/SetNuevaComuna',
                    type: 'post',
                    datatype: 'json',
                    async: false,
                    data: {
                        "nomComuna": comuna
                    },
                    success: function (data) {
                        if (data.Data.alert == "success") {
                            Limpiar();
                            setTimeout(function () {
                                alertSuccess(data.Data.message);
                            }, 500);

                            Limpiar();
                        } else {
                            alertDanger(data.Data.message);
                        }

                    },
                    error: function () {
                        CerrarModal();
                        alertDanger("Ha ocurrido una incidencia, lo resolveremos a la brevedad");
                    }
                });

            } else {
                alertDanger("Debe ingresar un nombre de comuna para continuar");
            }

        }

        function GuardarEdicionComuna() {
            var COMUNA =
            {
                ID_COMUNA: $("#ddlComunas").val(),
                NOMBRE_COMUNA: $("#txtNomComunaEdit").val(),
                MOTIVO_EDICION: $("#txtMotivo").val(),
            };



            $.ajax({
                url: '../Mantenedor/SetEditarComuna',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "COMUNA": COMUNA
                },
                success: function (data) {
                    if (data.Data.alert == "success") {
                        setTimeout(function () {
                            alertSuccess(data.Data.message);
                        }, 500);

                        CerrarModal();
                        Limpiar();

                    } else {
                        alertSuccess(data.Data.message);
                    }

                }, error: function () {
                    CerrarModal();
                    alertDanger("Ha ocurrido una incidencia, inténtelo nuevamente");
                    CargarComunas();
                }
            });
        }

        function ConfirmarEdicion() {
            var NOMBRE_COMUNA = $("#txtNomComunaEdit").val();
            var MOTIVO_EDICION = $("#txtMotivo").val();
            var respuesta = ValidacionesGenerales(NOMBRE_COMUNA, MOTIVO_EDICION)

            if (respuesta == "") {
                $("#txtMostrar").text("editar");

                $("#btnEliminar").css('display', 'none');
                $("#btnGuardarComuna").css('display', 'none');
                $("#divComunaNew").css('display', 'none');
                $("#modalConfirmacion").modal("show");

            } else {
                alertDanger(respuesta);
            }
        }

        function Sololetras(e) {
            var k;
            document.all ? k = e.keyCode : k = e.which;
            return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57));
        }

        function CamelCase(texto) {
            var mayuscula = "";
            var minuscula = "";
            var palabra = "";

            palabra = texto.value;
            console.log(palabra)
            if (!texto.value) return;

            mayuscula = palabra.substring(0, 1).toUpperCase();

            if (palabra.length > 0)
                minuscula = palabra.substring(1).toLowerCase();

            document.getElementById(texto.id).value = mayuscula.concat(minuscula);

        }

        function HabilitarEdit() {
            var opc = $("#ddlComunas option:selected").val();

            if (opc > 0) {
                $("#divBtonesEdit").css("display", "");
            } else {
                $("#divBtonesEdit").css("display", "none");
            }
        }

        function ValidarComunaExiste() {
            var nombre = $("#txtNomComuna").val();

            $.ajax({
                url: '../Mantenedor/GetComunaByNombre',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "nombre": nombre
                },
                success: function (data) {
                    if (data.data != "") {
                        alertDanger(data.data);
                        $("#txtNomComuna").val("");
                        $("#txtNomComuna").focus();
                    }

                }, error: function () {
                    alertDanger("Ha ocurrido una incidencia, inténtelo nuevamente");
                }
            });
        }

        function ValidacionesGenerales(NOMBRE_COMUNA, MOTIVO_EDICION) {
            if (NOMBRE_COMUNA == "") {
                $("#txtNomComunaEdit").focus();
                return "Debe ingresar un nombre de comuna";
            }

            if (MOTIVO_EDICION == "") {
                $("#txtMotivo").focus();
                return "Debe ingresar un motivo para el nombre de la comuna";
            }

            return "";
        }

    </script>
}
