@{
    ViewBag.Title = "Servicios";
}

<style>
    .borderInput {
        margin: 10px;
    }

    .divFlot {
        text-align: right
    }
</style>

<div class="page-title">
    <div class="content-title">
        <h3>Servicios</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Listado de Servicios</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="content-filters-b">
    <div class="card">
        <div class="form-row">
            <button class="btn btn-success" type="button" id="btnNuevoTerminal" onclick="VerNuevoServicio();"><i class="far fa-plus"></i> Nuevo Servicio</button>
        </div>
    </div>
</div>

<div class="card ocultar">
    <div class="form-row">
        <div class="col-md-3">
            <div class="form-group borderInput">
                <label for="NumeroServicio">Nombre Servicio</label>
                <input type="text" name="NumeroServicio" placeholder="Nombre Servicio" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group borderInput">
                <label for="HoraInicio">Hora inicio del servicio</label>
                <input type="text" name="HoraInicio" placeholder="HH:mm" class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group borderInput">
                <label for="HoraFin">Hora fin del servicio</label>
                <input type="text" name="HoraFin" placeholder="HH:mm" class="form-control" />
            </div>
        </div>
        <div class="col-md-3 borderInput">
            <div class="form-group">
                <button type="button" class="btn btn-outline-light" onclick="Limpiar();">Cancelar</button>
                <button type="button" class="btn btn-success" id="btnGuaradarNuevo">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="card" style="display:none">
    <div class="form-row">
        <label>Selecciones un Terminal para continuar</label>
        <div class="form-group">
            <select id="ddlTerminal" class="form-control col-md-6"></select>
        </div>
        <div>
            <div class="borderInput">

            </div>
        </div>
        <div class="form-group">
            <button id="btnBuscar" class="btn btn-primary borderInput" onclick="BuscarConductorHorario();">Buscar</button>
        </div>
    </div>
</div>
<br />
<div class="col-md-12 card" id="divServicios">
    <table id="tblServicios" class="table table-striped table-hover">
    </table>
</div>

<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow">
            <div class="modal-title">
                <div class="text-center">
                    <h3>¡Confirmar acción!</h3>
                </div>
            </div>
            <div class="modal-body">
                <h4 class="text-primary">
                    ¿Está seguro que desea eliminar el registro?
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" id="btnCancela" onclick="CerrarModal();">Cancelar</button>
                <button type="button" class="btn btn-danger" id="btnAceptar" onclick="DeleteServicio();">Eliminar</button>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $(".ocultar").css("display", "none");
            CargarServicios();
        });

        function CargarServicios() {
            $("#tblServicios").DataTable({
                dom: "<'card-header flex-column flex-lg-row align-items-start align-items-lg-center'<'d-flex flex-column flex-lg-row justify-content-start align-items-lg-center'<'titleRev mr-2'><'comboFil mb-2 mb-lg-0'>><'d-flex justify-content-md-end'fl>>" + "<'card-body p-0'tr>" + "<'card-footer'ip>",
                scrollX: true,
                processing: true,
                destroy: true,
                lengthChange: true,
                pageLength: 10,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                columnDefs: [
                    { targets: [0, 3, 4], searchable: false, orderable: false }
                ],
                language: {
                    "url": "../Plugins/DataTables/js/Spanish.json"
                },
                order: [[0, "desc"]],
                initComplete: function () {
                    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
                },
                ajax: {
                    url: "../Mantenedor/GetServiciosActivos",
                    type: "POST",
                    dataType: "json",
                    data: null
                },
                columns: [
                    { data: "ID_SERVICIO", visible: false },
                    { data: "ID_EMPRESA", visible: false },
                    { data: "NOMBRE_EMPRESA", title: "NOMBRE EMPRESA", name: "NOMBRE_EMPRESA" },
                    { data: "NOMBRE_SERVICIO", title: "NOMBRE SERVICIO", name: "NOMBRE_SERVICIO" },
                    { data: "HORARIO_INICIO", title: "HORARIO INICIO", name: "HORARIO_INICIO" },
                    { data: "HORARIO_FIN", title: "HORARIO FIN SERVICO", name: "HORARIO_FIN" },
                    {
                        title: "GESTIÓN",
                        orderable: false,

                        render: function (data, type, full, meta) {
                            var html = '';

                            html = '<a role="button" class="btn-table-bg " onclick="EliminarServicio(' + full.ID_SERVICIO + ');"><i class="far fa-trash-alt text-danger"></i><span>&nbsp;&nbsp;</span><i class="far fa-edit text-success"></i></a>';

                            return html;
                        }
                    },
                ]
            });
        }

        function EliminarServicio(idServicio) {

            $("#modalConfirmacion").modal("show");
        }

        function CerrarModal() {
            $("#modalConfirmacion").modal("hide");
        }

        function VerNuevoServicio() {
            $(".ocultar").css("display", "")
        }

        function Limpiar() {
            $(".ocultar").css("display", "none")
        }

    </script>
}