
@{ ViewBag.Title = "Terminal"; }

<style>
    .borderInput {
        margin: 10px;
    }

    .borderInput2 {
        align-content: center;
    }

    .divFlot {
        text-align: right
    }

    .container-title {
        display: flex;
    }

    .btn-x {
        margin-left: auto
    }
</style>

<div class="page-title">
    <div class="content-title">
        <h3>Terminales</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Mantenedor</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="content-filters-b">
    <div class="card">
        <div class="form-row">
            <button class="btn btn-success" type="button" id="btnNuevoTerminal" onclick="VerNuevoTerminal();"><i class="far fa-plus"></i> Nuevo Terminal</button>
        </div>
    </div>
</div>

<div class="card ocultar">
    <div class="modal-body">
        <div class="form-row container-title">            
            <div class="borderInput">
                <h4 class="modal-title text-success">Nuevo Terminal</h4>
            </div>
            <button type="button" class="close col-mb-0 btn-x" onclick="Limpiar();" data-dismiss="modal" aria-label="Close">
                <i class="far fa-times"></i>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="form-row contiener-row">
            <hr class="col-12" />
            <div class="col-md-4">
                <div class="form-group borderInput">
                    <label for="NomTerminal">Nombre del terminal *</label>
                    <input id="txtNombreTer" type="text" name="NomTerminal" maxlength="50" onkeypress="return Sololetras(event);" onblur="ValidarTerminalExiste();" placeholder="Nombre" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group borderInput">
                    <label for="Direcccion">Dirección del terminal *</label>
                    <input id="txtDireccion" type="text" name="Direcccion" onkeypress="return Sololetras(event);" maxlength="100" placeholder="Diercción" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group borderInput">
                    <label for="NumeroDirecccion">Número de dierección</label>
                    <input id="txtNumDire" type="number" name="NumeroDireccion" maxlength="6" placeholder="Número Dirección" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-row contiener-row">
            <div class="col-md-4" id="divSentidoNew">
                <label class="text-danger">* Todos los campos son requeridos</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" onclick="Limpiar();">Cancelar</button>
        <button type="button" class="btn btn-success" id="btnGuardarNuevo" onclick="GuardarNuevoTerminal();"><i class="far fa-edit"></i> Guardar</button>
        <button type="button" class="btn btn-success" id="btnGuardarEdicion" onclick="ConfirmarEdicion();"><i class="fas fa-edit"></i>  Guardar</button>
    </div>
</div>

<br />

<div class="col-md-12 card" id="divTablaHorarios">
    <table id="tblTerminales" class="table table-striped table-hover">
    </table>
</div>

<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow">
            <div class="modal-title">
                <div class="text-center">
                    <h3>¡Confirmar acción!</h3>
                </div>
            </div>
            <div class="modal-body">
                <label>¿Está seguro que desea <span id="txtMostrar"></span> el Terminal <sapan id="terEliminar" class="text-primary"></sapan>?</label>
            </div>
            <label id="idTerEliminar" style="display:none"></label>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" id="btnCancela" onclick="CerrarModal();">Cancelar</button>
                <button type="button" class="btn btn-danger" id="btnEliminar" onclick="EliminarTerminal();"><i class="fas fa-trash"></i> Eliminar</button>
                <button type="button" class="btn btn-success" id="btnConfirmar" onclick="GuardarEdicion();"><i class="fas fa-check"></i> Confirmar</button>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        var tblTerminal;

        $(document).ready(function () {
            $(".ocultar").css("display", "none");
            CargarTerminales();
        });

        function CargarTerminales() {
            tblTerminal = $("#tblTerminales").DataTable({
                dom: "<'card-header flex-column flex-lg-row align-items-start align-items-lg-center'<'d-flex flex-column flex-lg-row justify-content-start align-items-lg-center'<'titleRev mr-2'><'comboFil mb-2 mb-lg-0'>><'d-flex justify-content-md-end'fl>>" + "<'card-body p-0'tr>" + "<'card-footer'ip>",
                scrollX: true,
                processing: true,
                destroy: true,
                lengthChange: true,
                pageLength: 10,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                columnDefs: [
                    { targets: [0, 3, 4], searchable: false, orderable: false }
                ],
                language: {
                    "url": "../Plugins/DataTables/js/Spanish.json"
                },
                order: [[1, "asc"]],
                initComplete: function () {
                    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
                },
                ajax: {
                    url: "../Mantenedor/GetTerminalesActivos",
                    type: "POST",
                    dataType: "json",
                    data: null
                },
                columns: [
                    { data: "ID_TERMINAL", visible: false, searchable: false },
                    { data: "NOMBRE_TERMINAL", title: "Nombre terminal", name: "NOMBRE_TERMINAL", orderable: false },
                    { data: "DIRECCION", title: "Dirección", name: "DIRECCION", orderable: false },
                    { data: "NUM_DIRECCION", title: "N° dirección", name: "NUM_DIRECCION", orderable: false },
                    { data: "NOMBRE_EMPRESA", title: "Nombre empresa", name: "NOMBRE_EMPRESA", orderable: false },
                    {
                        title: "Gestión",
                        orderable: false,
                        searchable: false,
                        render: function (data, type, full, meta) {
                            var html = '';

                            html = '<a role="button" class="btn-table-bg " onclick="ShowEliminarTerminal(' + full.ID_TERMINAL + "," + "'" + full.NOMBRE_TERMINAL + "'" + ');"><i class="far fa-trash-alt text-danger"></i></a>' +
                                '<span>&nbsp;&nbsp;</span>' +
                                '<a role="button" class="btn-table-bg " onclick="ShowEditarTerminal(' + full.ID_TERMINAL + ',' + "'" + full.NOMBRE_TERMINAL + "'" + ',' + "'" + full.DIRECCION + "'" + ',' + "'" + full.NUM_DIRECCION + "'" + ')">' +
                                '<i class="far fa-edit text-success"></i></a>';

                            return html;
                        }
                    },
                ]
            });
        }

        function GuardarNuevoTerminal() {
            let nombreTer = $("#txtNombreTer").val();
            let direccion = $("#txtDireccion").val();
            let numDire = $("#txtNumDire").val();

            var respuesta = ValidacionesGenerales(nombreTer, direccion);
            if (respuesta == "") {
                $.ajax({
                    url: '../Mantenedor/SetGuardarNuevoTerminal',
                    type: 'post',
                    datatype: 'json',
                    async: false,
                    data: {
                        "nombreTer": nombreTer,
                        "direccion": direccion,
                        "numDire": numDire,
                    },
                    success: function (data) {
                        if (data.Data.alert == "success") {
                            Limpiar();
                            setTimeout(function () {
                                alertSuccess(data.Data.message);
                            }, 500);
                            CerrarModal();
                            tblTerminal.ajax.reload(null, false);

                        } else {
                            alertDanger(data.Data.message);
                        }
                    },
                    error: function () {
                        CerrarModal();
                        alertDanger("Ha ocurrido una incidencia, lo resolveremos a la brevedad");
                        tblTerminal.ajax.reload(null, false);
                    }
                });
            } else {
                alertDanger(respuesta)
            }

        }

        function ValidacionesGenerales(nombreTer, direccion) {
            if (nombreTer == "") {
                $("#txtNombreTer").focus();
                return "Ingrese un nombre del terminal";

            }

            if (direccion == "") {
                $("#txtDireccion").focus();
                return "Ingrese la dirección de ubicación del terminal";
            }

            return "";
        }

        function EliminarTerminal() {
            var idTerminal = $("#idTerEliminar").val();

            $.ajax({
                url: '../Mantenedor/SetEliminarTerminal',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "idTerminal": idTerminal
                },
                success: function (data) {
                    if (data.Data.alert == "success") {
                        Limpiar();
                        setTimeout(function () {
                            alertSuccess(data.Data.message);
                        }, 500);
                        CerrarModal();
                        tblTerminal.ajax.reload(null, false);

                    } else {
                        alertDanger(data.Data.message);
                    }
                },
                error: function () {
                    CerrarModal();
                    alertDanger("Ha ocurrido una incidencia, inténtelo nuevamente");
                    tblTerminal.ajax.reload(null, false);
                }
            });
        }

        function ShowEliminarTerminal(idTerminal, nombreTerminal) {
            Limpiar();
            $("#btnEliminar").css('display', '');
            $("#btnConfirmar").css('display', 'none');

            $("#terEliminar").text(nombreTerminal);
            $("#idTerEliminar").val(idTerminal);
            $("#txtMostrar").text("eliminar");

            $("#modalConfirmacion").modal("show");
        }

        function CerrarModal() {
            $("#modalConfirmacion").modal("hide");
        }

        function VerNuevoTerminal() {
            Limpiar();
            $("#btnGuardarNuevo").css('display', '');
            $("#btnGuardarEdicion").css('display', 'none');
            $(".ocultar").css("display", "")
        }

        function Limpiar() {
            $("#txtNombreTer").val("");
            $("#txtDireccion").val("");
            $("#txtNumDire").val("");
            $(".ocultar").css("display", "none")
        }

        function ShowEditarTerminal(idTerminal, nomTerminal, direccion, numDire) {
            $("#txtNombreTer").val(nomTerminal);

            if (numDire != "null") {
                $("#txtNumDire").val(numDire);
            } else {
                $("#txtNumDire").val("");
            }

            if (direccion != "null") {
                $("#txtDireccion").val(direccion);
            } else {
                $("#txtDireccion").val("");
            }

            $("#idTerEliminar").val(idTerminal);

            $("#btnGuardarNuevo").css("display", "none");
            $("#btnGuardarEdicion").css("display", "");

            $(".ocultar").css("display", "");
        }

        function GuardarEdicion() {
            var TERMINAL =
            {
                ID_TERMINAL: $("#idTerEliminar").val(),
                NOMBRE_TERMINAL: $("#txtNombreTer").val(),
                DIRECCION: $("#txtDireccion").val(),
                NUM_DIRECCION: $("#txtNumDire").val(),
            };

            $.ajax({
                url: '../Mantenedor/SetEditarTerminal',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "TERMINAL": TERMINAL
                },
                success: function (data) {
                    if (data.Data.alert == "success") {
                        setTimeout(function () {
                            alertSuccess(data.Data.message);
                        }, 500);
                        CerrarModal();
                        Limpiar();
                        tblTerminal.ajax.reload(null, false);

                    } else {
                        alertSuccess(data.Data.message);
                    }

                }, error: function () {
                    CerrarModal();
                    alertDanger("Ha ocurrido una incidencia, inténtelo nuevamente");
                    tblTerminal.ajax.reload(null, false);
                }
            });
        }

        function ConfirmarEdicion() {
            let nombreTerminal = $("#txtNombreTer").val();
            $("#terEliminar").val(nombreTerminal);

            $("#txtMostrar").text("editar");

            let nombreTer = $("#txtNombreTer").val();
            let direccion = $("#txtDireccion").val();

            var respuesta = ValidacionesGenerales(nombreTer, direccion);

            if (respuesta == "") {
                $("#btnEliminar").css('display', 'none');
                $("#btnConfirmar").css('display', '');

                $("#modalConfirmacion").modal("show");

            } else {
                alertDanger(respuesta);
            }

        }

        function Sololetras(e) {
            var k;
            document.all ? k = e.keyCode : k = e.which;
            return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57));
        }

        function CamelCase(texto) {
            var mayuscula = "";
            var minuscula = "";
            var palabra = "";

            palabra = texto.value;
            if (!texto.value) return;

            mayuscula = palabra.substring(0, 1).toUpperCase();

            if (palabra.length > 0)
                minuscula = palabra.substring(1).toLowerCase();

            document.getElementById(texto.id).value = mayuscula.concat(minuscula);

        }

        function ValidarTerminalExiste() {
            var nombre = $("#txtNombreTer").val();

            $.ajax({
                url: '../Mantenedor/GetTerminalByNombreIdEmpresa',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "nombre": nombre
                },
                success: function (data) {
                    if (data.data != "") {
                        alertDanger(data.data);
                        $("#txtNombreTer").val("");
                        $("#txtNombreTer").focus();
                    }

                }, error: function () {
                    alertDanger("Ha ocurrido una incidencia, inténtelo nuevamente");
                }
            });
        }

    </script>
}
