
@{ ViewBag.Title = "Terminal"; }

<style>
    .borderInput {
        margin: 10px;
    }

    .borderInput2 {
        align-content:center;
    }

    .divFlot {
        text-align: right
    }
</style>

<div class="page-title">
    <div class="content-title">
        <h3>Terminales</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Listado de Terminales</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="content-filters-b">
    <div class="card">
        <div class="form-row">
            <button class="btn btn-success" type="button" id="btnNuevoTerminal" onclick="VerNuevoTerminal();"><i class="far fa-plus"></i> Nuevo Terminal</button>
        </div>
    </div>
</div>

<div class="card ocultar">
    <div class="modal-title">
        <div class="form-row">
            <div class="borderInput">
                <h4 class="modal-title text-primary">Nuevo Terminal</h4>
            </div>
            <button type="button" class="close col-mb-0" onclick="Limpiar();" data-dismiss="modal" aria-label="Close">
                <i class="far fa-times"></i>
            </button>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3">
            <div class="form-group borderInput">
                <label for="NumeroTerminal">Nombre del terminal</label>
                <input type="text" name="NumeroTerminal" placeholder="Nombre" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group borderInput">
                <label for="Direcccion">Dirección del terminal</label>
                <input type="text" name="Direcccion" placeholder="Diercción" class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group borderInput">
                <label for="NumeroDirecccion">Número de dierección</label>
                <input type="text" name="NumeroDireccion" placeholder="Número Dirección" class="form-control" />
            </div>
        </div>
        <div class="col-md-3 borderInput">
            <div class="form-group">
                <button type="button" class="btn btn-outline-light" onclick="Limpiar();">Cancelar</button>
                <button type="button" class="btn btn-success" id="btnGuaradarNuevo">Guaradar</button>
            </div>
        </div>
    </div>
</div>

<br />

<div class="col-md-12 card" id="divTablaHorarios">
    <table id="tblTerminales" class="table table-striped table-hover">
    </table>
</div>

<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow">
            <div class="modal-title">
                <div class="text-center">
                    <h3>¡Confirmar acción!</h3>
                </div>
            </div>
            <div class="modal-body">
                <h4 class="text-primary">
                    ¿Está seguro que desea eliminar el registro?
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" id="btnCancela" onclick="CerrarModal();">Cancelar</button>
                <button type="button" class="btn btn-danger" id="btnAceptar" onclick="DeleteServicio();">Eliminar</button>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $(".ocultar").css("display", "none");
            CargarTerminales();
        });

        function CargarTerminales() {
            $("#tblTerminales").DataTable({
                dom: "<'card-header flex-column flex-lg-row align-items-start align-items-lg-center'<'d-flex flex-column flex-lg-row justify-content-start align-items-lg-center'<'titleRev mr-2'><'comboFil mb-2 mb-lg-0'>><'d-flex justify-content-md-end'fl>>" + "<'card-body p-0'tr>" + "<'card-footer'ip>",
                scrollX: true,
                processing: true,
                destroy: true,
                lengthChange: true,
                pageLength: 10,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                columnDefs: [
                    { targets: [0, 3, 4], searchable: false, orderable: false }
                ],
                language: {
                    "url": "../Plugins/DataTables/js/Spanish.json"
                },
                order: [[0, "desc"]],
                initComplete: function () {
                    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
                },
                ajax: {
                    url: "../Mantenedor/GetTerminalesActivos",
                    type: "POST",
                    dataType: "json",
                    data: null
                },
                columns: [
                    { data: "ID_TERMINAL", visible: false },
                    { data: "NOMBRE_TERMINAL", title: "NOMBRE TERMINAL", name: "NOMBRE_TERMINAL" },
                    { data: "DIRECCION", title: "DIRECCIÓN", name: "DIRECCION" },
                    { data: "NUM_DIRECCION", title: "N° DIRECCION", name: "NUM_DIRECCION" },
                    { data: "NOMBRE_EMPRESA", title: "NOMBRE EMPRESA", name: "NOMBRE_EMPRESA" },
                    {
                        title: "GESTIÓN",
                        orderable: false,

                        render: function (data, type, full, meta) {
                            var html = '';

                            html = '<a role="button" class="btn-table-bg " onclick="EliminarServicio(' + full.ID_TERMINAL + ');"><i class="far fa-trash-alt text-danger"></i><span>&nbsp;&nbsp;</span><i class="far fa-edit text-success"></i></a>';

                            return html;
                        }
                    },
                ]
            });
        }

        function VerNuevoTerminal() {
            $(".ocultar").css("display", "")
        }

        function Limpiar() {
            $(".ocultar").css("display", "none")
        }

    </script>
}
