
@{
    ViewBag.Title = "Dashboard";
}


<h2>Dashboard</h2>

<div class="col-12">
    <div class="form-row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body" height="100">
                    <canvas id="AguaNoUsada"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <canvas id="PapelNoUsado"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<div class="col-md-12 card" id="divTablaHorarios">
    <table id="tblVueltas" class="table table-striped table-hover">
    </table>
</div>

@section scripts
{

    <script src="~/Plugins/package/dist/chart.js"></script>
    <script>
        var tblVueltas;

        $(document).ready(function () {
            graficoIncio();
            CargarVueltas();
        });

        function graficoIncio() {
            const ctx = document.getElementById('PapelNoUsado').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Papel usado en noviembre-2020', 'Papel no usado noviembre-2021'],
                    datasets: [{
                        label:
                            'Número de Hojas'
                        ,
                        data: [12850, 3522],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Uso del papel',
                            padding: {
                                top: 10,
                                bottom: 30
                            }
                        }
                    },
                    animations: {
                        tension: {
                            duration: 1500,
                            easing: 'linear',
                            from: 1,
                            to: 0,
                            loop: true
                        }
                    },

                }
            });

            const ctx2 = document.getElementById('AguaNoUsada').getContext('2d');
            const myChart2 = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: ['Litros usados en noviembre-2020', 'Litros usados en noviembre-2021'],
                    datasets: [{
                        label: ['Hojas 2020'
                        ],
                        data: [80211, 20512],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Uso del agua',
                            padding: {
                                top: 10,
                                bottom: 30
                            }
                        }
                    },
                    animations: {
                        tension: {
                            duration: 1500,
                            easing: 'linear',
                            from: 1,
                            to: 0,
                            loop: true
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        function CargarVueltas() {
            tblVueltas = $("#tblVueltas").DataTable({
                dom: "<'card-header flex-column flex-lg-row align-items-start align-items-lg-center'<'d-flex flex-column flex-lg-row justify-content-start align-items-lg-center'<'titleRev mr-2'><'comboFil mb-2 mb-lg-0'>><'d-flex justify-content-md-end'fl>>" + "<'card-body p-0'tr>" + "<'card-footer'ip>",
                scrollX: true,
                processing: true,
                destroy: true,
                lengthChange: true,
                pageLength: 10,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                columnDefs: [
                    { targets: [0, 3, 4], searchable: false, orderable: false }
                ],
                language: {
                    "url": "../Plugins/DataTables/js/Spanish.json"
                },
                order: [[1, "asc"]],
                initComplete: function () {
                    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
                },
                ajax: {
                    url: "../Mantenedor/GetRegistroVueltasFechaActual",
                    type: "POST",
                    dataType: "json",
                    data: null
                },
                columns: [
                    { data: "ID_REGISTRO_VUELTAS", visible: false, searchable: false },
                    { data: "NOMBRE_TERMINAL_INICIO", title: "Terminal inicio", name: "NOMBRE_TERMINAL_INICIO", orderable: false },
                    { data: "NUMERO_BUS_INICIO", title: "Bus inicio", name: "NUMERO_BUS_INICIO", orderable: false },
                    { data: "NOMBRE_SERVICIO_INICIO", title: "Servicio inicio", name: "NOMBRE_SERVICIO_INICIO", orderable: false },
                    { data: "SEN_INI_CORTO", title: "Sentido inicio", name: "SEN_INI_CORTO", orderable: false },
                    {
                        data: null, title: "Fecha Inicio", name: "FECHA_HORA_INICIO", render:
                            function (full) {
                                if (moment(full.FECHA_HORA_INICIO).format('DD/MM/YYYY') != '31/12/0000') {
                                    return moment(full.FECHA_HORA_FIN).format('DD/MM/YYYY');
                                } else {
                                    return "";
                                }

                            }
                    },
                    { data: "NOMBRE_TERMINAL_FIN", title: "Terminal fin", name: "NOMBRE_TERMINAL_FIN", orderable: false },
                    { data: "NOMBRE_SERVICIO_FIN", title: "Servicio fin", name: "NOMBRE_SERVICIO_FIN", orderable: false },
                    { data: "SEN_FIN_CORTO", title: "Sentido fin", name: "SEN_FIN_CORTO", orderable: false },
                    { data: "NUMERO_BUS_FIN", title: "Bus fin", name: "NOMBRE_EMPRESA", orderable: false },
                    {
                        data: null, title: "Fecha fin", name: "FECHA_HORA_FIN", render:
                            function (full) {
                                if (moment(full.FECHA_HORA_FIN).format('DD/MM/YYYY') != '31/12/0000') {
                                    return moment(full.FECHA_HORA_FIN).format('DD/MM/YYYY');
                                } else {
                                    return "";
                                }

                            }
                    },
                ]
            });
        }

    </script>
}