
@{
    ViewBag.Title = "Dashboard";
}


<h2>Dashboard</h2>

<div class="col-12">
    <div class="form-row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body" height="100">
                    <canvas id="AguaNoUsada"  ></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <canvas id="PapelNoUsado"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<div class="col-md-12 card" id="divTablaHorarios">
    <table id="tblTerminales" class="table table-striped table-hover">
    </table>
</div>

@section scripts
{

    <script src="~/Plugins/package/dist/chart.js"></script>
    <script>
        $(document).ready(function () {

            graficoIncio();
            CargarTerminales();
        });

        function graficoIncio() {
            const ctx = document.getElementById('PapelNoUsado').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Papel usado en noviembre-2020', 'Papel no usado noviembre-2021'],
                    datasets: [{
                        label:
                            'Número de Hojas'
                        ,
                        data: [12850, 3522],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Uso del papel',
                            padding: {
                                top: 10,
                                bottom: 30
                            }
                        }
                    },
                    animations: {
                        tension: {
                            duration: 1500,
                            easing: 'linear',
                            from: 1,
                            to: 0,
                            loop: true
                        }
                    },
                   
                }
            });

            const ctx2 = document.getElementById('AguaNoUsada').getContext('2d');
            const myChart2 = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: ['Litros usados en noviembre-2020', 'Litros usados en noviembre-2021'],
                    datasets: [{
                        label: ['Hojas 2020'
                        ],
                        data: [80211, 20512],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Uso del agua',
                            padding: {
                                top: 10,
                                bottom: 30
                            }
                        }
                    },
                    animations: {
                        tension: {
                            duration: 1500,
                            easing: 'linear',
                            from: 1,
                            to: 0,
                            loop: true
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        function CargarTerminales() {
            tblTerminal = $("#tblTerminales").DataTable({
                dom: "<'card-header flex-column flex-lg-row align-items-start align-items-lg-center'<'d-flex flex-column flex-lg-row justify-content-start align-items-lg-center'<'titleRev mr-2'><'comboFil mb-2 mb-lg-0'>><'d-flex justify-content-md-end'fl>>" + "<'card-body p-0'tr>" + "<'card-footer'ip>",
                scrollX: true,
                processing: true,
                destroy: true,
                lengthChange: true,
                pageLength: 10,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                columnDefs: [
                    { targets: [0, 3, 4], searchable: false, orderable: false }
                ],
                language: {
                    "url": "../Plugins/DataTables/js/Spanish.json"
                },
                order: [[1, "asc"]],
                initComplete: function () {
                    $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
                },
                ajax: {
                    url: "../Mantenedor/GetTerminalesActivos",
                    type: "POST",
                    dataType: "json",
                    data: null
                },
                columns: [
                    { data: "ID_TERMINAL", visible: false, searchable: false },
                    { data: "NOMBRE_TERMINAL", title: "NOMBRE TERMINAL", name: "NOMBRE_TERMINAL", orderable: false },
                    { data: "DIRECCION", title: "DIRECCIÓN", name: "DIRECCION", orderable: false },
                    { data: "NUM_DIRECCION", title: "N° DIRECCION", name: "NUM_DIRECCION", orderable: false },
                    { data: "NOMBRE_EMPRESA", title: "NOMBRE EMPRESA", name: "NOMBRE_EMPRESA", orderable: false },
                    {
                        title: "GESTIÓN",
                        orderable: false,
                        searchable: false,
                        render: function (data, type, full, meta) {
                            var html = '';

                            html = '<a role="button" class="btn-table-bg " onclick="ShowEliminarTerminal(' + full.ID_TERMINAL + "," + "'" + full.NOMBRE_TERMINAL + "'" + ');"><i class="far fa-trash-alt text-danger"></i></a>' +
                                '<span>&nbsp;&nbsp;</span>' +
                                '<a role="button" class="btn-table-bg " onclick="ShowEditarTerminal(' + full.ID_TERMINAL + ',' + "'" + full.NOMBRE_TERMINAL + "'" + ',' + "'" + full.DIRECCION + "'" + ',' + "'" + full.NUM_DIRECCION + "'" + ')">' +
                                '<i class="far fa-edit text-success"></i></a>';

                            return html;
                        }
                    },
                ]
            });
        }

    </script>
}