@{
    ViewBag.Title = "Usuario";
}
<style>
    .borderInput {
        margin: 10px;
    }

    .borderInput2 {
        align-content: center;
    }

    .divFlot {
        text-align: right
    }
</style>

<div class="page-title">
    <div class="content-title">
        <h3>Usuario</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Usuario</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="card">
    <div class="flex-fill">
        <div class="col-12">
            <div class="form-row">
                <div class="col-sm-3 form-group">
                    <label for="Numero">Nombre</label>
                    <input id="txtNombre" type="text" name="Numero" placeholder="Nombre" class="form-control" />
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="Direcccion">Segundo Nombre</label>
                        <input id="txtSegNombre" type="text" name="segNombre" placeholder="Segundo Nombre" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="Direcccion">Apellido Paterno</label>
                        <input id="txtApePater" type="text" name="segNombre" placeholder="Apellido Paterno" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="ApeMate">Apellido Marterno</label>
                        <input id="txtApeMate" type="text" name="ApeMate" placeholder="Apellido Materno" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-row">
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="rut">R.U.N.</label>
                        <input id="txtRut" type="text" name="rut" placeholder="R.U.N." class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="Direccion">Dirección</label>
                        <input id="txtDireccion" type="text" name="Direccion" autocomplete="off" placeholder="Dirección" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group">
                        <label for="CodigoBarra">Codigo de Barra</label>
                        <input id="txtCodigoBarra" type="text" name="CodigoBarra" placeholder="Codigo de Barra" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group">
                        <label for="Comuna">Comuna</label>
                        <select id="cmbComuna" type="text" name="Comuna" class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-row">
                <div class="col-sm-3 form-group">
                    <div class="form-group">
                        <label for="TipoContrato">Tipo Contrato</label>
                        <select id="cmbTipoContrato" type="text" name="TipoContrato" class="form-control"></select>
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="correo">Correo</label>
                        <input id="txtCorreo" type="email" name="correo" placeholder="ejemplo@ejemplo.cl" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="correoAlte">Correo Alternativo</label>
                        <input id="txtCorreoAlt" type="email" name="correoAlte" placeholder="ejemplo@ejemplo.cl" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="perfil">Perfil</label>
                        <select id="cmbPerfil" name="perfil" class="form-control" ></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-row">
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="txtClave">Clave</label>
                        <input id="txtClave" type="password" name="Clave" autocomplete="off" placeholder="Clave" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="repClave">Repita Clave</label>
                        <input id="txtRepClave" type="password" name="repClave" autocomplete="off" placeholder="Repita Clave" class="form-control" />
                    </div>

                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group">
                        <div class="input-group">
                            <label>Cambio Password</label>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text pr-01"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input type="text" class="form-control dateinput opacity-1" id="txtFechaVencePass" name="FechaVencePass" autocomplete="off" required readonly />
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-row">
                        <div class="custom-control custom-switch">
                            <label for="correoAlte">Administrador</label>
                            <span>SI</span><input type="checkbox" />
                            <span>NO</span><input type="checkbox" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 ">
        <div class="form-group text-right">
            <button type="button" class="btn btn-outline-light" onclick="Limpiar();">Cancelar</button>
            <button type="button" class="btn btn-success" id="btnGuardarNuevo" onclick="GuardarNuevoUsuario();"><i class="fas fa-users"></i> Guardar</button>
        </div>
    </div>
</div>


@section scripts
    {
    <script>
        $(document).ready(function () {
            $(".ocultar").css("display", "none");
            CargarCmb();
        });

        function CargarCmb() {
            $.ajax({
                url: '../Mantenedor/GetPerfilCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                data: null,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var optionCom = $(document.createElement('option'));
                        optionCom.val(data.data[i]["ID_COMUNA"]);
                        optionCom.text(data.data[i]["NOMBRE_COMUNA"]);

                        $("#cmbComuna").append(optionTer);
                    }
                }
            });

            $.ajax({
                url: '../Mantenedor/GetTipoContratoCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                data: null,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var optionCon = $(document.createElement('option'));
                        optionCon.val(data.data[i]["ID_TIPO_CONTRATO"]);
                        optionCon.text(data.data[i]["NOMBRE_TIPO_CONTRATO"]);

                        $("#cmbTipoContrato").append(optionCon);
                    }
                }
            });

            $.ajax({
                url: '../Mantenedor/GetTipoContratoCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                data: null,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var optionPer = $(document.createElement('option'));
                        optionPer.val(data.data[i]["ID_TIPO_CONTRATO"]);
                        optionPer.text(data.data[i]["NOMBRE_TIPO_CONTRATO"]);

                        $("#cmbPerfil").append(optionPerfil);
                    }
                }
            });
           
        }

        function GuardarNuevoUsuario() {
            let idComuna = $("#cmbComuna option:selected").val();
            let idTipoContrato = $("#cmbTipoContrato option:selected").val();
            let idPerfil = $("#cmbPerfil option:selected").val();
            let clave = $("#txtClave").val();
            let repetirCalve = $("#txtRepClave").val();
            let correo = $("#txtCorreo").val();
            let correoAlternativo = $("#txtCorreoAlt").val();
            let codigoBarra = $("#txtCodigoBarra").val();
            let rut = $("#txtRut").val();
            let nombre = $("#txtNombre").val();
            let segundoNombre = $("#txtSegNombre").val();
            let apllidoPaterno = $("#txtApePater").val();
            let apellidoMaterno = $("#txtApeMate").val();
            let cambioPassword = $("#txtFechaVencePass").val();
            let administrador = true; //$("#txtMotivoCambio").val();

            var UsuarioNuevo = [
                {
                    ID_COMUNA: idComuna,
                    ID_PERGIL: idPerfil,
                    ID_TIPO_CONTRATO : idTipoContrato,
                    CLAVE : clave,
                    REPETIR_CLAVE : repetirCalve,
                    CORREO : correo,
                    CORREO_ALTERNATIVO : correoAlternativo,
                    CODIGO_BARRA : codigoBarra,
                    RUT : rut,
                    NOMBRE : nombre,
                    SEGUNDO_NOMBRE : segundoNombre,
                    APELLIDO_PATERNO : apllidoPaterno,
                    APELLIDO_MATERNO : apellidoMaterno,
                    CAMBIO_PASSWORD : cambioPassword,
                    ADMINISTRADOR : administrador
                }
            ]

            $.ajax({
                url: '../HorarioConductor/SetIngresaNuevoUsuario',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    UsuarioNuevo: UsuarioNuevo
                },
                success: function (data) {
                    if (data.Data.alert != '') {
                        alertSuccess(data.Data.message)

                        Limpiar();
                    }
                }
            });
        }

        function Limpiar() {
            $("#cmbComuna option").attr("selected", false);
            $("#cmbComuna option[value='" + 0 + "']").attr("selected", "selected");

            $("#cmbTipoContrato option").attr("selected", false);
            $("#cmbTipoContrato option[value='" + 0 + "']").attr("selected", "selected");

            $("#txtNombre").val("");
            $("#txtSegNombre").val("");
            $("#txtApePater").val("");
            $("#txtApeMate").val("");
            $("#txtRut").val("");
            $("#txtDireccion").val("");
            $("#txtCodigoBarra").val("");
            $("#txtCorreo").val("");
            $("#txtCorreoAlt").val("");
            $("#txtDireccion").val("");
            $("#txtClave").val("");
            $("#txtRepClave").val("");
            $("#txtFechaVencePass").val("");
        }

    </script>
}