@{
    ViewBag.Title = "Usuario";
}
<style>
    .borderInput {
        margin: 10px;
    }

    .borderInput2 {
        align-content: center;
    }

    .divFlot {
        text-align: right
    }

    input:invalid {
        border: 1px solid red;
    }
</style>

<div class="page-title">
    <div class="content-title">
        <h3>Usuario</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Usuario</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="card">
    <div class="flex-fill">
        <div class="col-12">
            <div class="form-row">
                <div class="col-sm-3 form-group">
                    <label for="nombre">Nombre *</label>
                    <input id="txtNombre" type="text" name="nombre" onkeyup="CamelCase(this);" placeholder="Pedro" class="form-control" required />
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="segNombre">Segundo Nombre *</label>
                        <input id="txtSegNombre" type="text" name="segNombre" onkeyup="CamelCase(this);" placeholder="Antonio" class="form-control" required />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="APELIDO1">Apellido Paterno *</label>
                        <input id="txtApePater" type="text" name="APELIDO1" onkeyup="CamelCase(this);" placeholder="Chaparro" class="form-control" required />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="ApeMate">Apellido Marterno *</label>
                        <input id="txtApeMate" type="text" name="ApeMate" onkeyup="CamelCase(this);" placeholder="Chaparro" class="form-control" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-row">
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="rut">R.U.N. *</label>
                        <input id="txtRut" type="text" name="rut" onblur="onBlurRut(this);" placeholder="9999999-0" class="form-control" required />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group">
                        <label for="CodigoBarra">Codigo de Barra *</label>
                        <input id="txtCodigoBarra" type="text" name="CodigoBarra" placeholder="0100220225" class="form-control" required />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group">
                        <label for="Comuna">Comuna *</label>
                        <select id="cmbComuna" type="text" name="Comuna" class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-row">
                <div class="col-sm-3 form-group">
                    <div class="form-group">
                        <label for="TipoContrato">Tipo Contrato *</label>
                        <select id="cmbTipoContrato" type="text" name="TipoContrato" class="form-control" required></select>
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="correo">Correo *</label>
                        <input id="txtCorreo" type="email" name="correo" onkeyup="LowerCase(this);" placeholder="ejemplo@ejemplo.cl" class="form-control" required />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="correoAlte">Correo Alternativo *</label>
                        <input id="txtCorreoAlt" type="email" name="correoAlte" onkeyup="LowerCase(this);" placeholder="ejemplo@ejemplo.cl" class="form-control" required />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group">
                        <label for="PERFIL">Perfil *</label>
                        <select id="cmbPerfil" type="text" name="PERFIL" class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-row">
                <div class="col-md-3 form-group">
                    <div class="form-group">
                        <label for="txtClave">Clave *</label>
                        <div style="display:flex; text-align:center">
                            <input id="txtClave" type="password" name="Clave" autocomplete="off" placeholder="Clave" class="form-control" required />
                            <span onclick="VerClave()" class="input-group-text pr-01">
                                <icon id="icon" class="fa fa-eye-slash"></icon>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group">
                        <label for="repClave">Repita Clave *</label>
                        <div style="display:flex; align-items:center">
                            <input id="txtRepClave" type="password" name="repClave" autocomplete="off" onblur="onBlurClave(this);" placeholder="Repita Clave" class="form-control" required />
                            <span onclick="VerClaveRep()" class="input-group-text pr-01">
                                <icon id="iconRep" class="fa fa-eye-slash"></icon>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 form-group">
                    <div class="form-group">
                        <div class="input-group">
                            <label>Cambio Password *</label>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control dateinput opacity-1" id="txtFechaVencePass" name="FechaVencePass" autocomplete="off" required readonly />
                            <div class="input-group-prepend">
                                <span class="input-group-text pr-01"><i class="far fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-row" style="display:flex; align-items:center">
                        <div class="col-3">
                            <i class="far fa-info-circle text-primary mr-2" data-toggle="tooltip" data-placement="left" title="Seleccionar casilla para asignar permisos administrador"></i>
                            <input id="chkAdmin" type="checkbox" />
                        </div>
                        <div class="col-9">
                            <label for="correoAlte">Administrador</label>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label class="text-danger">* Todos los compos son requeridos</label>
            </div>
        </div>
    </div>

    <div class="col-md-12 ">
        <div class="form-group text-right">
            <button type="button" class="btn btn-outline-light" onclick="volver();">Volver</button>
            <button type="button" class="btn btn-success" id="btnGuardarNuevo" onclick="GuardarNuevoUsuario();"><i class="fas fa-edit"></i> Guardar</button>
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $(".ocultar").css("display", "none");
            CargarCmb();
        });

        function CargarCmb() {
            $.ajax({
                url: '../Mantenedor/GetComunasCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                data: null,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var optionCom = $(document.createElement('option'));
                        optionCom.val(data.data[i]["ID_COMUNA"]);
                        optionCom.text(data.data[i]["NOMBRE_COMUNA"]);

                        $("#cmbComuna").append(optionCom);
                    }
                }
            });

            $.ajax({
                url: '../MantenedorUsuario/GetTipoContratoCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                data: null,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var optionCon = $(document.createElement('option'));
                        optionCon.val(data.data[i]["ID_TIPO_CONTRATO"]);
                        optionCon.text(data.data[i]["NOMBRE_TIPO_CONTRATO"]);

                        $("#cmbTipoContrato").append(optionCon);
                    }
                }
            });

            $.ajax({
                url: '../MantenedorUsuario/GetPerfilCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                data: null,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var optionCon = $(document.createElement('option'));
                        optionCon.val(data.data[i]["IdPerfil"]);
                        optionCon.text(data.data[i]["Nombre"]);

                        $("#cmbPerfil").append(optionCon);
                    }
                }
            });

        }

        function GuardarNuevoUsuario() {
            let idComuna = $("#cmbComuna option:selected").val();
            let idTipoContrato = $("#cmbTipoContrato option:selected").val();
            let perfil = $("#cmbPerfil option:selected").val();
            let clave = $("#txtClave").val();
            let repClave = $("#txtRepClave").val();
            let correo = $("#txtCorreo").val();
            let correoAlternativo = $("#txtCorreoAlt").val();
            let codigoBarra = $("#txtCodigoBarra").val();
            let rut = $("#txtRut").val();
            let nombre = $("#txtNombre").val();
            let segundoNombre = $("#txtSegNombre").val();
            let apllidoPaterno = $("#txtApePater").val();
            let apellidoMaterno = $("#txtApeMate").val();
            let cambioPassword = $("#txtFechaVencePass").val();
            let administrador = $("#chkAdmin").is(":checked");

            var respuesta = ValidacionesGenerales(nombre, apllidoPaterno, apellidoMaterno, rut, idTipoContrato,
                correo, correoAlternativo, perfil, idComuna, clave, repClave);

            if (respuesta == "") {
                var UsuarioNuevo = [
                    {
                        ID_COMUNA: idComuna,
                        ID_TIPO_CONTRATO: idTipoContrato,
                        CLAVE: clave,
                        REPETIR_CLAVE: repClave,
                        CORREO: correo,
                        CORREO_ALTERNATIVO: correoAlternativo,
                        CODIGO_BARRA: codigoBarra,
                        RUT: rut,
                        NOMBRE: nombre,
                        ID_PERFIL: perfil,
                        SEGUNDO_NOMBRE: segundoNombre,
                        APELLIDO_PATERNO: apllidoPaterno,
                        APELLIDO_MATERNO: apellidoMaterno,
                        CAMBIO_PASSWORD: cambioPassword,
                        ADMINISTRADOR: administrador
                    }
                ]

                $.ajax({
                    url: '../MantenedorUsuario/SetIngresaNuevoUsuario',
                    type: 'post',
                    datatype: 'json',
                    async: false,
                    data: {
                        UsuarioNuevo: UsuarioNuevo
                    },
                    success: function (data) {
                        if (data.Data.alert != '') {
                            alertSuccess(data.Data.message)

                            Limpiar();
                        }
                    }
                });

            } else {
                alertDanger(respuesta)
            }
        }

        function Limpiar() {
            $("#cmbComuna option").attr("selected", false);
            $("#cmbComuna option[value='" + 0 + "']").attr("selected", "selected");

            $("#cmbTipoContrato option").attr("selected", false);
            $("#cmbTipoContrato option[value='" + 0 + "']").attr("selected", "selected");

            $("#txtNombre").val("");
            $("#txtSegNombre").val("");
            $("#txtApePater").val("");
            $("#txtApeMate").val("");
            $("#txtRut").val("");
            $("#txtDireccion").val("");
            $("#txtCodigoBarra").val("");
            $("#txtCorreo").val("");
            $("#txtCorreoAlt").val("");
            $("#txtDireccion").val("");
            $("#txtClave").val("");
            $("#txtRepClave").val("");
            $("#txtFechaVencePass").val("");

            setTimeout(function () {
                window.location.href = "/RedirectVistas/HomeUsuario"
            }, 3000);
        }

        function volver() {
            setTimeout(function () {
                window.location.href = "/RedirectVistas/HomeUsuario"
            }, 10);
        }

        function CamelCase(texto) {
            var mayuscula = "";
            var minuscula = "";
            var palabra = "";

            palabra = texto.value;

            if (!texto.value) return;

            mayuscula = palabra.substring(0, 1).toUpperCase();

            if (palabra.length > 0)
                minuscula = palabra.substring(1).toLowerCase();


            document.getElementById(texto.id).value = mayuscula.concat(minuscula);

        }

        function LowerCase(texto) {
            var mayuscula = "";
            var minuscula = "";
            var palabra = "";

            palabra = texto.value;
            if (!texto.value) return;

            if (palabra.length > 0)
                minuscula = palabra.toLowerCase();

            document.getElementById(texto.id).value = minuscula;

        }

        function onBlurRut(texto) {
            var rut = texto.value;

            if (rut != "") {
                $.ajax({
                    url: '../MantenedorUsuario/ValidarRutCompleto',
                    type: 'post',
                    datatype: 'json',
                    async: false,
                    data: {
                        "rut": rut
                    },
                    success: function (data) {
                        if (data.Data.message != "") {
                            document.getElementById(texto.id).value = data.Data.data;
                        } else {
                            alertDanger(data.Data.data);
                            document.getElementById(texto.id).focus();
                        }

                    }
                });
            }

        }

        function onBlurClave(texto) {
            var claveRepetida = texto.value;
            var clave = $("#txtClave").val();

            if (clave != claveRepetida) {
                alertDanger("Las claves ingresadas no coinciden")
            }
        }

        function VerClave() {
            var className = $("#icon").attr('class');

            if (className == "fa fa-eye-slash") {
                $("#txtClave").attr('type', 'text');
                $("#icon").removeClass("fa fa-eye-slash");
                $("#icon").addClass("fa fa-eye");
            } else {
                $("#txtClave").attr('type', 'password');
                $("#icon").removeClass("fa fa-eye");
                $("#icon").addClass("fa fa-eye-slash");
            }

        }

        function VerClaveRep() {
            var className = $("#iconRep").attr('class');

            if (className == "fa fa-eye-slash") {
                $("#txtRepClave").attr('type', 'text');
                $("#iconRep").removeClass("fa fa-eye-slash");
                $("#iconRep").addClass("fa fa-eye");
            } else {
                $("#txtRepClave").attr('type', 'password');
                $("#iconRep").removeClass("fa fa-eye");
                $("#iconRep").addClass("fa fa-eye-slash");
            }

        }

        function ValidacionesGenerales(nombre, apllidoPaterno, apellidoMaterno, rut, idTipoContrato,
            correo, correoAlternativo, perfil, idComuna, clave, repClave) {

            if (nombre == undefined || nombre == "" || nombre.length < 3 || nombre == null)
                return "Debe ingresar un nombre para continuar";

            if (apllidoPaterno == undefined || apllidoPaterno == "" || apllidoPaterno.length < 2 || apllidoPaterno == null)
                return "Debe ingresar el primer apellido para continuar";

            if (apellidoMaterno == undefined || apellidoMaterno == "" || apellidoMaterno.length < 3 || apellidoMaterno == null)
                return "Debe ingresar el segundo apellido para continuar";

            if (rut == undefined || rut == "" || rut.length < 3 || rut == null)
                return "Debe ingrese un R.U.N. para continuar";

            if (idComuna == 0)
                return "Debe seleccionar una comuna para continuar";

            if (idTipoContrato == 0)
                mensaje = "Ingrese un tipo de contrato para continuar";

            if (perfil == 0)
                return "Ingrese un perfíl para continuar";

            if (correo == undefined || correo == "" || correo.length < 3 || correo == null)
                return "Ingrese un correo para continuar";

            if (correoAlternativo == undefined || correoAlternativo == "" || correoAlternativo.length < 3 || correoAlternativo == null)
                mensaje = "Ingrese un correo alternativo para continuar";

            if (clave == undefined || clave == "" || clave.length < 3 || clave == null)
                return "Ingrese una clave para continuar";

            if (repClave == undefined || repClave == "" || repClave.length < 3 || repClave == null)
                return "Debe repetit la clave para continuar";

            return "";
        }

    </script>
}